<% include ./partials/header %>

    <main>
        <!-- Slider Area Start-->
        <div class="slider-area">
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-5 d-none d-xl-block">
                               <br> <div class="hero__img hero__img2 " data-animation="fadeInLeft" data-delay="1s">
                                   <!--  <img src="assets/img/hero/about_hero.png" alt=""> -->
                                   <h2>About</h2>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-9 ">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="fadeInRight" data-delay=".4s">Info Gift Cards</h1>
                                    <p data-animation="fadeInRight" data-delay=".6s">Our goal is to promote the best valued gift cards for best rewards.

<br>
Over more than $100B gift card market, we provide you information of various brands and guide you to the right offers which will be helpful in making decision on the gift cards.
We promote you brand and make your make your brand popular. We provide smart solutions for Incentive options, Brand marketing And Payment solutions through Gift cards.</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInRight" data-delay=".8s">
                                        <a href="/contact" class="btn hero-btn">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                 <div class="single-slider slider-height slider-height2 d-flex align-items-center">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-5 d-none d-xl-block">
                                <div class="hero__img hero__img2 " data-animation="fadeInLeft" data-delay="1s">
                                    <img src="assets/img/hero/about_hero.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-9 ">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="fadeInRight" data-delay=".4s">We Collect<br> High Quality Leads</h1>
                                    <p data-animation="fadeInRight" data-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi.</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInRight" data-delay=".8s">
                                        <a href="industries.html" class="btn hero-btn">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- about shape -->
            <div class="about-shape">
                <div class="shape-left">
                    <img src="assets/img/hero/about_shape1.png" alt="">
                </div>
                <div class="shape-right">
                    <img src="assets/img/hero/about-sharpe2.png" alt="">
                </div>
            </div>
        </div>
        <!-- Slider Area End-->
        <!--Choose Best start-->
     <!--    <div class="choose-best choose-padding">
            <div class="container">
 
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-tittle text-center">
                            <h2>Choose Your Very Best Pricing Plan </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-choose text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-growth"></span>
                            </div>
                            <div class="do-caption">
                                <h4>$ 05.00</h4>
                                <ul>
                                    <li>Increase traffic 50%</li>
                                    <li>Social Media Marketing</li>
                                    <li>10 Free Optimization</li>
                                    <li>24/7  support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-choose active text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-award"></span>
                            </div>
                            <div class="do-caption">
                                <h4>$ 20.00</h4>
                                <ul>
                                    <li>Increase traffic 50%</li>
                                    <li>Social Media Marketing</li>
                                    <li>10 Free Optimization</li>
                                    <li>24/7  support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-choose text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-project"></span>
                            </div>
                            <div class="do-caption">
                                <h4>$ 30.00</h4>
                                <ul>
                                    <li>Increase traffic 50%</li>
                                    <li>Social Media Marketing</li>
                                    <li>10 Free Optimization</li>
                                    <li>24/7  support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Choose Best do End-->
        <!-- Visit Stuffs Start -->
   <!--  -->
        <!-- Visit Stuffs Start -->
         <!-- Testimonial Start -->
         <div class="testimonial-area">
            <div class="container">
               <div class="testimonial-main">
                    <!-- Section-tittle -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-5  col-md-8 pr-0">
                            <div class="section-tittle text-center">
                                <h2>Our Mission</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                            <div class="col-lg-10 col-md-9">
                                <div class="h1-testimonial-active">
                                    <!-- Single Testimonial -->
                                    <div class="single-testimonial text-center">
                                        <div class="testimonial-caption ">
                                            <div class="testimonial-top-cap">
                                                <p>Saving you money </p>
                                            </div>
                                            <!-- founder -->
                                            <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                              
                                            <div class="founder-text">
                                                <span>OWe’re passionate about putting more in your pocket. With the highest payout rates in the industry, our goal is to help you spend more on what you really love.</span>
                                                <!-- <p>UIX designer</p> -->
                                            </div>
                                            </div>
                                        </div>
                                    </div><!-- Single Testimonial -->
                                    <div class="single-testimonial text-center">
                                        <div class="testimonial-caption ">
                                            <div class="testimonial-top-cap">
                                                <p>Making it secure</p>
                                            </div>
                                            <!-- founder -->
                                            <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                             
                                            <div class="founder-text">
                                                <span>Our verified system monitors each and every transaction, so you can buy and sell gift cards with total safety and confidence.</span>
                                                <!-- <p>UIX designer</p> -->
                                            </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="single-testimonial text-center">
                                        <div class="testimonial-caption ">
                                            <div class="testimonial-top-cap">
                                                <p>Keeping it simple</p>
                                            </div>
                                            <!-- founder -->
                                            <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                             
                                            <div class="founder-text">
                                                <span>Why complicate things? Through short turnaround times, step-by-step processes, and a customer-focused approach, we make saving money as quick and painless as possible.</span>
                                                <!-- <p>UIX designer</p> -->
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
               </div>
            </div>
        </div>
        <!-- Testimonial End -->
        <!-- Tips Triks Start -->
    <!--     <div class="tips-triks-area tips-padding">
            <div class="container">
     
                 <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 col-md-8 pr-0">
                        <div class="section-tittle text-center">
                            <h2>Tips and Tricks From Our Exparts</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-tips mb-50">
                            <div class="tips-img">
                                <img src="assets/img/tips/tips_1.jpg" alt="">
                            </div>
                            <div class="tips-caption">
                                <h4><a href="#">Twice profit than before you ever got</a></h4>
                                <span>Continue Reading</span>
                                <p>March 3, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-tips mb-50">
                            <div class="tips-img">
                                <img src="assets/img/tips/tips_2.jpg" alt="">
                            </div>
                            <div class="tips-caption">
                                <h4><a href="#">Twice profit than before you ever got</a></h4>
                                <span>Continue Reading</span>
                                <p>March 3, 2020</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-tips mb-50">
                            <div class="tips-img">
                                <img src="assets/img/tips/tips_3.jpg" alt="">
                            </div>
                            <div class="tips-caption">
                                <h4><a href="#">Twice profit than before you ever got</a></h4>
                                <span>Continue Reading</span>
                                <p>March 3, 2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Tips Triks End -->
         <!-- have-project Start-->
         <!-- <div class="have-project">
            <div class="container">
                <div class="haveAproject"  data-background="assets/img/team/have.jpg">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-7 col-lg-9 col-md-12">
                            <div class="wantToWork-caption">
                                <h2>Have project in mind?</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut.</p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-12">
                           <div class="wantToWork-btn f-right">
                                <a href="#" class="btn btn-ans">Contact Us</a>
                           </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div> -->
        <!-- have-project End -->

    </main>
       </main>
<% include ./partials/footer %>