<form action="/add_card_post" method="POST">
    <!-- card_name:String,
    card_image:String,
    card_description:String,
    hq:String,
    customer_care:String, -->
    <input type="text" name="card_name" placeholder="card_name"/><br>
    <input type="text" name="card_image" placeholder="card_image"/><br>
    <input type="text" name="card_description" placeholder="card_description"/><br>
    <input type="text" name="hq" placeholder="hq"/><br>
    <input type="text" name="customer_care" placeholder="customer_care"/>
    <input type="text" name="balance_link" placeholder="balance_link"/>
    
    <input type="submit">
</form>