<form action="/add" method="POST" enctype="multipart/form-data">
	<input type="text" name="card_name">
	<input type="file" name="card_image">
	<input type="text" name="card_description">
	<input type="text" name="hq">
	<input type="text" name="customer_care">
	<input type="submit" name="" value="Submit">
</form>