


<% include ./partials/cards_header %>

<style type="text/css">
   li a{
     color: white;  
  }
</style>
<!-- Slider Area Start-->
<div class="services-area" style="background-color: #0072CE;">
   <div class="container">

     <!-- Section-tittle -->
     <div class="row d-flex justify-content-center">
       <div class="col-lg-8">
         <div class="section-tittle text-center mb-80">
            
           <h2 style="color: white;">Aeropostale</h2>
        </div>
     </div>
  </div>
</div>
</div>
<!-- Slider Area End-->

<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding" >
   <div class="container">
      <div class="row">
         <div class="col-lg-8 posts-list">
            <div class="single-post">
               <section class="sample-text-area">
                  <div class="container box_1170">
                     <h3 class="text-heading">Aeropostale</h3>
                     <p class="sample-text">
Aeropostale Gift Cards are redeemable at any accepted locations.
Aeropostale Gift Cards are available for purchase here.
With the exception of expedited shipping fees for plastic gift cards, no fees of any kind will be imposed on purchasers or recipients of Gift Cards in connection with the sale of Gift Cards.<br>

                        <b> <label>Head Quarters:</label></b><span>&nbsp;&nbsp; - NA</span>
                        <br>
                        <b> <label>Customer care:</label></b><span>&nbsp;&nbsp;
                           Phone:
                        1-800-411-7942, Monday-Friday, 7:30 a.m. -5 p.m (CT).
</span>
                        <br>
                        <b> <label>Check Balance:</label></b><span>&nbsp;&nbsp;<a href="/" style="color: blue;" data-toggle="modal" data-target="#exampleModal">
                        click here</a></span>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header" style="background-color: #0072CE;">
                                <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Check Balance</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                               </button>
                            </div>
                            <div class="modal-body">
                             <form>
                               <div class="form-group">
                                 <label for="recipient-name" class="col-form-label">Card No:</label>
                                 <input type="text" class="form-control" id="recipient-name" placeholder="1245-4566-6744-3422">
                              </div>
                              <div class="form-group">
                                 <label for="message-text" class="col-form-label">Pin:</label>
                                 <input type="text" class="form-control" id="recipient-name" placeholder="PIN">
                              </div>
                              <div class="form-group">
                                 <label for="message-text" class="col-form-label">Email:</label>
                                 <input type="text" class="form-control" id="recipient-name" placeholder="Optional">
                              </div>
                           </form>
                        </div>
                        
                        <div class="modal-footer">
                         
                          <button type="button" class="btn header-btn">Check Now</button>
                       </div>
                    </div>
                 </div>
              </div>
              <br>
           
           </p>
           <h3 class="text-heading">Policies</h3>
           <p>
<br>
3. Redemption
​<br>

Refer to http://www.aeropostale.com/ for Terms and Conditions of redemption.
<br><br>
​

4. View Your Balance
​
<br>
To view your Gift Card balance, go to Customer Support.

​<br><br>

5. Returns
​<br>

You may not return or cancel your Aeropostale Gift Card after it is received. Purchasers who wish to cancel a Gift Card purchase order prior to its delivery to a recipient should contact Customer Support.

​<br><br>

6. Lost or Stolen Gift Cards
​<br>

If you suspect that someone has copied or stolen your Gift Card, contact Customer Support immediately. Gift Cards will not be replaced if lost or stolen without proof of purchase. Gift Cards have cash value and should be safeguarded accordingly.

​<br><br>

7. Limitations
​
<br>
You may not use a Gift Card to purchase other Gift Cards.
Gift Cards cannot be resold, transferred for value, or redeemed for cash, except to the extent required by law. Void if resold, transferred for value, or redeemed for cash. Unused Gift Cards may not be transferred.
Total purchases for any one individual may not exceed ten thousand dollars ($10,000.00) in one calendar day.
<br><br>
​

8. Our Policies
​<br>

Information that you provide when purchasing Gift Cards is subject to the Privacy Policy. CashStar and Aeropostale may provide Gift Card purchasers with information about the redemption status of Gift Cards.

​<br><br>

9. Risk of Loss
​<br>

Ownership and risk of loss of eGift Cards passes to the purchaser as soon as we send our confirmation to the recipient, and risk of loss passes to the recipient as soon as a plastic Gift Card is delivered to the designated carrier. We are not responsible for lost or stolen Gift Cards. If you have any questions, please see the FAQs.

​<br><br>

10. Aeropostale Gift Card Customer Service
​<br>

If you need assistance with any aspect of your purchase, ownership, or use of your Gift Card, please contact Customer Support. Please refer to your order number, or be ready to supply your email address.

​<br><br>

11. Payment Methods
​
<br>
Aeropostale Gift Cards may be paid for with a valid VISA, MasterCard, Discover, American Express card, or other payment methods which may be accepted from time to time.

​<br><br>

12. Delivery Information and Requirements for Gift Card Purchasers
​<br>

All orders of Gift Cards are subject to a process that compares purchaser information provided on the web site with information about the purchaser provided by the purchaser's financial institution. If there is a discrepancy, your Gift Card order may be delayed until it can be corrected.
If you have concerns about your order, please contact Customer Support. Please refer to your order number, or be ready to supply your email address.
We are not responsible for Gift Cards that are undeliverable or not received due to your failure to enter an accurate email address for the recipient. Please check to make sure the email address of the recipient is correct and contact Customer Support if you suspect the recipient did not receive his/her Gift Card.

​<br><br>

13. Reasons for Failed Delivery of eGift Cards
​
<br>
eGift Cards are delivered via email. If you have confirmed the recipient's email address but the eGift Card has not been viewed within a reasonable period after the requested delivery date, following is a list of the most common reasons why delivery may have failed: 1. Spam filter blocked email or routed it to a bulk/spam folder 2. Recipient's firewall blocked the email 3. Email inbox is over size limit 4. Invalid email address If a spam filter is blocking Aeropostale Gift Cards emails from getting to an inbox, the email options will need to be modified so that Aeropostale Gift Cards emails are not considered spam.
If you need further assistance, contact Customer Support. Please refer to your order number, or be ready to supply your email address.

​
<br><br>
14. Personalized Messaging
​<br>

If you wish to add a personal message to a Gift Card, simply type your message in the Message field during the purchase process.
Personal messages are limited in length to the space provided on the eGift Card.
There is no additional charge to include a personalized message.
If we find inappropriate, offensive or otherwise objectionable messages, we reserve the right to cancel them.
<br><br>
​

15. Limitation of Liability
​<br>

CASHSTAR AND ITS AFFILIATES MAKE NO WARRANTIES, EXPRESS OR IMPLIED, WITH RESPECT TO GIFT CARDS, INCLUDING WITHOUT LIMITATION, ANY EXPRESS OR IMPLIED WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. IF A GIFT CARD CODE IS NON-FUNCTIONAL, YOUR SOLE REMEDY, AND OUR SOLE LIABILITY, SHALL BE THE REPLACEMENT OF SUCH GIFT CARD. CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.

​<br><br>

16. Disputes
​<br>

These Ts & Cs shall be construed in accordance with and governed by the laws of the United States and the State of California, without reference to their rules regarding conflicts of law. You hereby irrevocably consent to the exclusive jurisdiction of the state or federal courts in San Francisco County, California, USA in all disputes arising out of or related to the Gift Cards or the Aeropostale site.

​
<br><br>

Contact us: <a href="/contact">contact us</a>




            <br>

         </div>
      </section>
   </div>
   <div class="navigation-top">
      <div class="d-sm-flex justify-content-between text-center">
         <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Check out Social Media Handles</p>
         <div class="col-sm-4 text-center my-2 my-sm-0">
            <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
         </div>
         <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fab fa-behance"></i></a></li>
         </ul>
      </div>
      
   </div>
   
   
</div>
<div class="col-lg-4">
   <div class="blog_right_sidebar">
    
      <aside class="single_sidebar_widget post_category_widget">
         <h4 class="widget_title">Other Gift Cards</h4>
         <ul class="list cat-list">
           <li>
            <a href="/cards/walmart" class="d-flex">
               <p>Walmart</p>
               
            </a>
         </li>
         <li>
            <a href="/cards/bestbuy" class="d-flex">
               <p>Best Buy</p>
               
            </a>
         </li>
         <li>
            <a href="/cards/target" class="d-flex">
               <p>Target</p>
               
            </a>
         </li>
         <li>
            <a href="/cards/amazon" class="d-flex">
               <p>Amazon</p>
               
            </a>
         </li>
         
      </ul>
   </aside>
   <aside class="single_sidebar_widget post_category_widget">
      <h4 class="widget_title">Popular Gift Cards</h4>
      <ul class="list cat-list">
         <li>
            <a href="/cards/walmart" class="d-flex">
               <p>Walmart</p>
               
            </a>
         </li>
         <li>
            <a href="/cards/bestbuy" class="d-flex">
               <p>Best Buy</p>
               
            </a>
         </li>
         <li>
            <a href="/cards/target" class="d-flex">
               <p>Target</p>
               
            </a>
         </li>
         <li>
            <a href="/cards/amazon" class="d-flex">
               <p>Amazon</p>
               
            </a>
         </li>
         
      </ul>
   </aside>
       <!--            <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Recent Post</h3>
                     <div class="media post_item">
                        <img src="assets/img/post/post_1.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>From life was you fish...</h3>
                           </a>
                           <p>January 12, 2019</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_2.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>The Amazing Hubble</h3>
                           </a>
                           <p>02 Hours ago</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_3.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>Astronomy Or Astrology</h3>
                           </a>
                           <p>03 Hours ago</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_4.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>Asteroids telescope</h3>
                           </a>
                           <p>01 Hours ago</p>
                        </div>
                     </div>
                  </aside> -->
               <!--    <aside class="single_sidebar_widget tag_cloud_widget">
                     <h4 class="widget_title">Tag Clouds</h4>
                     <ul class="list">
                        <li>
                           <a href="#">project</a>
                        </li>
                        <li>
                           <a href="#">love</a>
                        </li>
                        <li>
                           <a href="#">technology</a>
                        </li>
                        <li>
                           <a href="#">travel</a>
                        </li>
                        <li>
                           <a href="#">restaurant</a>
                        </li>
                        <li>
                           <a href="#">life style</a>
                        </li>
                        <li>
                           <a href="#">design</a>
                        </li>
                        <li>
                           <a href="#">illustration</a>
                        </li>
                     </ul>
                  </aside> -->
             <!--      <aside class="single_sidebar_widget instagram_feeds">
                     <h4 class="widget_title">Instagram Feeds</h4>
                     <ul class="instagram_row flex-wrap">
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_5.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_6.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_7.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_8.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_9.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_10.png" alt="">
                           </a>
                        </li>
                     </ul>
                  </aside> -->
                  <aside class="single_sidebar_widget newsletter_widget">
                     <h4 class="widget_title">Newsletter</h4>
                     <form action="#">
                        <div class="form-group">
                           <input type="email" class="form-control" onfocus="this.placeholder = ''"
                           onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                        type="submit">Subscribe</button>
                     </form>
                  </aside>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->
   <% include ./partials/cards_footer %>