<% include ./partials/cards_header %>

<style type="text/css">
   li a{
    color: white;  
   }
</style>
       <!-- Slider Area Start-->
       <div class="services-area" style="background-color: #FF9900;">
         <div class="container">

             <!-- Section-tittle -->
             <div class="row d-flex justify-content-center">
                 <div class="col-lg-8">
                     <div class="section-tittle text-center mb-80">
                     <!--    <img src="../assets/img/logo/target.png" height="190px;"> -->
                         <h2 style="color: white;">Amazon</h2>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- Slider Area End-->
     
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding" >
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                <section class="sample-text-area">
                  <div class="container box_1170">
                     <h3 class="text-heading">Amazon</h3>
                     <p class="sample-text">

Gift Cards may only be redeemed toward the purchase of eligible products on www.amazon.in. Purchases are deducted from the redeemer's Gift Card balance. Any unused Gift Card balance will remain associated with the redeemers Amazon Pay account and applied to purchases, in order of earliest expiration date. If a purchase exceeds the redeemers Gift Card balance, the remaining amount must be paid by credit card, net banking or debit card. No fees or charges apply to Gift Cards. Qwikcilver may provide Gift Card purchasers with information about the redemption status of Gift Cards that they purchase or use.<br>
                        <b> <label>Head Quarters:</label></b><span>&nbsp;&nbsp;Bentonville, Arkansas, United States</span>
                        <br>
                        <b> <label>Customer care:</label></b><span>&nbsp;&nbsp;
                        1-800-925-6278</span>
                        <br>
                        <b> <label>Check Balance:</label></b><span>&nbsp;&nbsp;<a href="https://www.amazon.com/gp/help/customer/" style="color: blue;">
                        click here</a></span><br><br>
                      <b>Redemption</b>: Gift Cards may only be redeemed toward the purchase of eligible products on www.amazon.in. Purchases are deducted from the redeemer's Gift Card balance. Any unused Gift Card balance will remain associated with the redeemers Amazon Pay account and applied to purchases, in order of earliest expiration date. If a purchase exceeds the redeemers Gift Card balance, the remaining amount must be paid by credit card, net banking or debit card. No fees or charges apply to Gift Cards. Qwikcilver may provide Gift Card purchasers with information about the redemption status of Gift Cards that they purchase or use.
<br><br>
<b>Limitations</b>: Gift Cards, including any unused Gift Card balances, expire one year from the date of issuance. You may request for revalidation of any expired Gift Cards. Upon receipt of such request, the Gift Card may be revalidated after due verification and subject to applicable terms and conditions. Gift Cards may only be purchased in denominations of upto Rs. 10,000, or such other limits as Qwikcilver may determine. Gift Cards cannot be used to purchase other gift cards. Gift Cards cannot be reloaded, resold, transferred for value or redeemed for cash. Except as provided hereunder or as per applicable law, amount in your Gift Cards will not be refunded to you under any circumstances. No refund will be provided in cash, at any point of time. Unused Gift Card balances may not be transferred to another users account. No interest will be payable by Qwikcilver on any Gift Card or Gift Card balance. Qwikcilver make no representation or warranty that www.amazon.in will always be accessible without interruption.
App Store & iTunes Gift Cards by Mail
Send a gift with a personal message.
<br><br>
<b>Fraud</b>: Qwikcilver is not responsible if a Gift Card is lost, stolen, destroyed or used without permission. Amazon Seller Services Private Limited (together with Amazon Pay is referred to as 'Amazon') will have the right to close customer accounts and take payment from alternative forms of payment if a fraudulently obtained Gift Card is redeemed and/or used to make purchases on www.amazon.in.
<br><br>
<b>Governing Law and Jurisdiction</b>: These terms and conditions are governed by and construed in accordance with the laws of India. You, Qwikcilver and Amazon each agree to submit to the exclusive jurisdiction of the courts at Bangalore. You agree to indemnify Qwikcilver and Amazon for all claims brought by a third party against it or its affiliates arising out of or in connection with a breach of any of these terms and conditions.
<br><br>
<b>Limitation of Liability</b>: NEITHER QWIKCILVER NOR AMAZON MAKE ANY WARRANTIES, EXPRESS OR IMPLIED, WITH RESPECT TO GIFT CARDS, INCLUDING WITHOUT LIMITATION, ANY EXPRESS OR IMPLIED WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. IN THE EVENT A GIFT CARD IS NON-FUNCTIONAL, YOUR SOLE REMEDY WILL BE THE REPLACEMENT OF SUCH GIFT CARD. IF APPLICABLE LAW DOES NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS.
<br><br>
<b>General Terms</b>: The Amazon.in Conditions of Use apply to Gift Cards. Qwikcilver reserves the right to change these Gift Card terms and conditions from time to time in its discretion and without prior notice to you. All terms and conditions are applicable to the extent permitted by law.
                        <br><br>
                      

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                         <div class="modal-dialog" role="document">
                          <div class="modal-content">
                           <div class="modal-header" style="background-color: #FF9900;">
                            <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Check Balance</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                          </button>
                       </div>
                       <div class="modal-body">
                         <form>
                          <div class="form-group">
                           <label for="recipient-name" class="col-form-label">Card No:</label>
                           <input type="text" class="form-control" id="recipient-name" placeholder="1245-4566-6744-3422">
                        </div>
                        <div class="form-group">
                           <label for="message-text" class="col-form-label">Pin:</label>
                           <input type="text" class="form-control" id="recipient-name" placeholder="PIN">
                        </div>
                        <div class="form-group">
                           <label for="message-text" class="col-form-label">Email:</label>
                           <input type="text" class="form-control" id="recipient-name" placeholder="Optional">
                        </div>
                     </form>
                  </div>
                  
                  <div class="modal-footer">
                    
                   <button type="button" class="btn header-btn">Check Now</button>
                </div>
             </div>
          </div>
       </div>


    </p>
    <br>

    <h3 class="text-heading">Policies</h3>
    <p>
     Apple Store Gift Cards are issued and managed by Apple Value Services, LLC and can be applied only to purchases in the U.S. from an Apple Store, at apple.com, or by calling 1-800-MY-APPLE. Gift cards are not reloadable and may not be redeemed for purchases made from Apple Media Services, at Apple resellers, for additional Apple Gift Cards, for cash (except as required by law), or for shipments outside the U.S. Gift cards will remain active even if added to the Wallet app on your iOS device. Neither the issuer nor Apple is responsible for any lost or stolen gift cards or use without your permission. Keep them close; they’re valuable and can be redeemed by whoever finds them. Additional payment will be required if the purchase price of your new Apple product exceeds the value of the gift card. Seems obvious, but we wanted to be sure you knew. Gift cards are also not for resale. Void where prohibited or restricted by law. Gift card terms and conditions are subject to change without notice and some items may not be available for purchase. Please visit www.apple.com/go/agc for current terms, conditions, and limitations. Use of a gift card is governed by the laws of the Commonwealth of Virginia. To check the available balance on a gift card, call 1-800-MY-APPLE or visit www.apple.com/go/gcb/us.
<br>
Valid only on purchases made in the U.S. from Apple Media Services. Use requires an Apple ID & prior acceptance of license & usage terms. Not redeemable for cash, for resale, or for shipments outside the U.S. & no refunds or exchanges (except as required by law). Data collection and use subject to Apple’s Privacy Policy; see apple.com/privacy. Neither Apple nor Issuer is responsible for any loss or damage resulting from lost or stolen cards or for use without permission. Void where prohibited. Terms apply; see apple.com/us/go/legal/gc. App Store & iTunes Gift Cards are issued and managed by Apple Value Services (“Issuer”). ©️ 2020 Apple Inc. All rights reserved.

<br></p>
 <h3 class="text-heading">Terms</h3>
 <p>
<br>
Apple Store Gift Cards are issued and managed by Apple Value Services, LLC and can be applied only to purchases in the U.S. from an Apple Store, at apple.com, or by calling 1-800-MY-APPLE.
<br>
Gift cards are not reloadable and may not be redeemed for purchases made from Apple Media Services, at Apple resellers, for additional Apple Gift Cards, for cash (except as required by law), or for shipments outside the U.S. Gift cards will remain active even if added to the Wallet app on your iOS device. Neither the issuer nor Apple is responsible for any lost or stolen gift cards or use without your permission. Keep them close; they’re valuable and can be redeemed by whoever finds them.  
<br>
Additional payment will be required if the purchase price of your new Apple product exceeds the value of the gift card. Seems obvious, but we wanted to be sure you knew. Gift cards are also not for resale.  
<br>
Void where prohibited or restricted by law. Gift card terms and conditions are subject to change without notice and some items may not be available for purchase. Please visit www.apple.com/go/agc for current terms, conditions, and limitations. Use of a gift card is governed by the laws of the Commonwealth of Virginia. To check the available balance on a gift card, call 1-800-MY-APPLE or visit www.apple.com/go/gcb/us.
     </p>
</div>
</section>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Check out Social Media Handles</p>
                     <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                     <ul class="social-icons">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                     </ul>
                  </div>
                  
               </div>
              
       
            </div>
            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                 
                  <aside class="single_sidebar_widget post_category_widget">
                     <h4 class="widget_title">Other Gift Cards</h4>
                     <ul class="list cat-list">
                         <li>
                           <a href="/card/home-depot" class="d-flex">
                              <p>Home Depot</p>
                   
                           </a>
                        </li>
                        <li>
                           <a href="/card/bestbuy" class="d-flex">
                              <p>Best Buy</p>
                      
                           </a>
                        </li>
                        <li>
                           <a href="/card/target" class="d-flex">
                              <p>Target</p>
                            
                           </a>
                        </li>
                        <li>
                           <a href="/card/amazon" class="d-flex">
                              <p>Amazon</p>
                     
                           </a>
                        </li>
                     
                     </ul>
                  </aside>
                   <aside class="single_sidebar_widget post_category_widget">
                     <h4 class="widget_title">Popular Gift Cards</h4>
                     <ul class="list cat-list">
                        <li>
                           <a href="/card/home-depot" class="d-flex">
                              <p>Home Depot</p>
                   
                           </a>
                        </li>
                        <li>
                           <a href="/card/bestbuy" class="d-flex">
                              <p>Best Buy</p>
                      
                           </a>
                        </li>
                        <li>
                           <a href="/card/target" class="d-flex">
                              <p>Target</p>
                            
                           </a>
                        </li>
                        <li>
                           <a href="/card/amazon" class="d-flex">
                              <p>Amazon</p>
                     
                           </a>
                        </li>
                     
                     </ul>
                  </aside>
       <!--            <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Recent Post</h3>
                     <div class="media post_item">
                        <img src="assets/img/post/post_1.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>From life was you fish...</h3>
                           </a>
                           <p>January 12, 2019</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_2.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>The Amazing Hubble</h3>
                           </a>
                           <p>02 Hours ago</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_3.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>Astronomy Or Astrology</h3>
                           </a>
                           <p>03 Hours ago</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_4.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>Asteroids telescope</h3>
                           </a>
                           <p>01 Hours ago</p>
                        </div>
                     </div>
                  </aside> -->
               <!--    <aside class="single_sidebar_widget tag_cloud_widget">
                     <h4 class="widget_title">Tag Clouds</h4>
                     <ul class="list">
                        <li>
                           <a href="#">project</a>
                        </li>
                        <li>
                           <a href="#">love</a>
                        </li>
                        <li>
                           <a href="#">technology</a>
                        </li>
                        <li>
                           <a href="#">travel</a>
                        </li>
                        <li>
                           <a href="#">restaurant</a>
                        </li>
                        <li>
                           <a href="#">life style</a>
                        </li>
                        <li>
                           <a href="#">design</a>
                        </li>
                        <li>
                           <a href="#">illustration</a>
                        </li>
                     </ul>
                  </aside> -->
             <!--      <aside class="single_sidebar_widget instagram_feeds">
                     <h4 class="widget_title">Instagram Feeds</h4>
                     <ul class="instagram_row flex-wrap">
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_5.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_6.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_7.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_8.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_9.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_10.png" alt="">
                           </a>
                        </li>
                     </ul>
                  </aside> -->
                  <aside class="single_sidebar_widget newsletter_widget">
                     <h4 class="widget_title">Newsletter</h4>
                     <form action="#">
                        <div class="form-group">
                           <input type="email" class="form-control" onfocus="this.placeholder = ''"
                              onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Subscribe</button>
                     </form>
                  </aside>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->
<% include ./partials/cards_footer %>