


<% include ./partials/cards_header %>

<style type="text/css">
   li a{
     color: white;  
  }
</style>
<!-- Slider Area Start-->
<div class="services-area" style="background-color: #0072CE;">
   <div class="container">

     <!-- Section-tittle -->
     <div class="row d-flex justify-content-center">
       <div class="col-lg-8">
         <div class="section-tittle text-center mb-80">
            
           <h2 style="color: white;">Calvin Klein</h2>
        </div>
     </div>
  </div>
</div>
</div>
<!-- Slider Area End-->

<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding" >
   <div class="container">
      <div class="row">
         <div class="col-lg-8 posts-list">
            <div class="single-post">
               <section class="sample-text-area">
                  <div class="container box_1170">
                     <h3 class="text-heading">Calvin Klein</h3>
                     <p class="sample-text">


                        <b> <label>Head Quarters:</label></b><span>&nbsp;&nbsp; - NA</span>
                        <br>
                        <b> <label>Customer care:</label></b><span>&nbsp;&nbsp;
                           Phone:
                        866.513.0513
</span>
                        <br>
                        <b> <label>Check Balance:</label></b><span>&nbsp;&nbsp;<a href="https://www.calvinklein.us/en/customerservice/gift-services" style="color: blue;" >
                        click here</a></span>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header" style="background-color: #0072CE;">
                                <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Check Balance</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                               </button>
                            </div>
                            <div class="modal-body">
                             <form>
                               <div class="form-group">
                                 <label for="recipient-name" class="col-form-label">Card No:</label>
                                 <input type="text" class="form-control" id="recipient-name" placeholder="1245-4566-6744-3422">
                              </div>
                              <div class="form-group">
                                 <label for="message-text" class="col-form-label">Pin:</label>
                                 <input type="text" class="form-control" id="recipient-name" placeholder="PIN">
                              </div>
                              <div class="form-group">
                                 <label for="message-text" class="col-form-label">Email:</label>
                                 <input type="text" class="form-control" id="recipient-name" placeholder="Optional">
                              </div>
                           </form>
                        </div>
                        
                        <div class="modal-footer">
                         
                          <button type="button" class="btn header-btn">Check Now</button>
                       </div>
                    </div>
                 </div>
              </div>
              <br>
           
           </p>
           <h3 class="text-heading">Policies</h3>
           <p>
      Gift Cards are redeemable at calvinklein.us  and can also be used at any Calvin Klein Retail, Company or Collection store.
<br>
redeemimg a gc:
<br>
Redeeming a Gift Card is easy. Follow these simple steps:
<br>
Shop calvinklein.us  and select items you wish to purchase.
When you're ready to checkout, click "My Bag."
Proceed through the checkout.
Enter your Gift Card number and PIN on the Payment page and click "Apply."
If you have more than one Gift Card, simply enter each code and click "Apply" after each one.
<br><br>


<b>Terms n conditions
<br>
TERMS & CONDITIONS (U.S. AND CANADA)</b>
Last Updated April, 2019.
<br><br>
Calvin Klein, Inc., a New York corporation ("Calvin Klein," “we,” “us,” or “our”) provides a website located at calvinklein.comand calvinklein.us in conjunction with third parties. In certain Calvin Klein stores, we may provide a wireless local area network for use by consumers (the “Wi-Fi Service”).
<br>
These Terms and Conditions apply to your use of the calvinklein.com or calvinklein.us website (or any successor or similar digital property such as an official app operated by us; or any other services that reference these Terms and Conditions) (the “Site”), the Wi-Fi Service (where offered), and any other services provided by us (individually or collectively, the “Service”). Use of the Wi-Fi Service is subject to additional terms specified in our Wi-Fi Terms of Service, which appear below.
<br><br>
Calvin Klein and its parent, affiliates, and licensees, and their respective officers, directors, employees, shareholders, agents, successors, assigns, vendors, retail partners and any other party involved in the creation, operation, production or transmission of the Site or provision of any other Service shall be referred to herein as "Calvin Klein Parties."
<br>
PLEASE REVIEW THESE TERMS OF USE CAREFULLY PRIOR TO USING THE SITE OR ANY OTHER SERVICE. YOUR USE OF ANY SERVICE INDICATES YOUR ACCEPTANCE OF THESE TERMS AND CONDITIONS. EACH TIME THAT YOU USE A SERVICE, THE CURRENT VERSION OF THESE TERMS & CONDITIONS WILL APPLY. WHEN YOU USE A SERVICE, YOU SHOULD CHECK THE DATE OF THESE TERMS & CONDITIONS (WHICH APPEARS ABOVE) AND REVIEW ANY CHANGES THAT HAVE BEEN MADE SINCE YOUR LAST VISIT TO THE SITE.
IF YOU DO NOT ACCEPT THESE TERMS AND CONDITIONS, YOU MAY NOT ACCESS OR USE THE SITE OR ANY OTHER CALVIN KLEIN SERVICE.
<br><br>
<b>1. Site User Eligibility</b><br>
The Site is available worldwide and may be operated from various locations both within and outside the United States of America ("USA"). Access to and use of the Site, including functionality and features available on the Site ("Features") and products and services available for purchase through the Site, however, may be inappropriate, prohibited or restricted in countries outside the United States or Canada. The Calvin Klein Parties make no warranty or representations that the Site or the Features are appropriate or available for access/use outside of the USA or Canada. If you access/use the Site from outside the USA or Canada, you do so at your own risk and are responsible for complying with the laws and regulations of the territory from which you access/use the Site.
<br>
Users of all ages are welcome to browse the Site. However, if you are under the age of 13, you should not provide any information about yourself on or through the Site, including, but not limited to, your name, address, email address, phone number and other personal information.
<br><br>
<b>2. Establishing an Account</b>
Users of all ages are welcome to browse the Site, however, you may only establish an account if you are 18 years of age or over. In order to purchase products/services from the Site and in order to access/use some Features on the Site, you may be required to establish and use an account.
<br>
When you register for an account you must (i) provide accurate and truthful information, and (ii) update such information from time to time as necessary to keep your registration information current and accurate. By establishing an account, you represent and warrant you have the right and are authorized to provide the information you provide when you register for your account. You are responsible for maintaining the confidentiality of your account information and password and for restricting access to such information and to your computer. All activities that occur under your account and/or password shall be your responsibility.
<br><br>
<b>3. Information You Provide/Submissions</b><br>
Your personal information will be handled in accordance with and subject to the terms of our Privacy Policy. Any other material, information, suggestions, ideas, concepts, know-how, techniques, questions, comments and any other communication or content you transmit or post to the Site or any other Service in any form and in any manner ("User Communications") (i) is and will be considered non-confidential, non-personal and non-proprietary to you or anyone else and (ii) may be disseminated or used by the Calvin Klein Parties for any purpose without (a) compensation to you or anyone else or (b) acknowledgement of you or anyone else as the source of such User Communications. Therefore, do not transmit or post to the Site or other Service any ideas, materials, suggestions, content or other information you would like to keep confidential or for which you would like or expect acknowledgement or compensation. If you order a custom product through the Site (each, a “Custom Product”), you may if and as applicable, select or submit to us, certain items, such as initials, lettering, symbols, patches, colors, text, designs, waistbands, lettering, photographs, drawings, logos and other materials that we will use to create the Custom Product (“Customizations”). The Customizations, to the extent submitted by you, constitute User Communications and are subject to these Terms and Conditions. Calvin Klein reserves the right to reject any Customizations that violate these Terms and Conditions or other terms and conditions applicable to the Custom Product, or are otherwise unacceptable to Calvin Klein and in such case, Calvin Klein may reject your order for the Custom Products. All orders for Custom Products are final and are not subject to return. Calvin Klein reserves all rights in and to the underlying product used to create the Custom Product and any patches, waistbands, colors and other customization options Calvin Klein makes available to you, and you will not acquire any rights of any kind or nature in or such underlying product or such customization options at any time. In the event you otherwise acquire any rights in or to the Custom Product, you hereby immediately and automatically assign all such rights from the date of inception to Calvin Klein. Calvin Klein reserves the right to ship your order from outside the U.S. By purchasing the Custom Products, you or your receiver agree to become the Importer of Record. Therefore, in addition to the cost of the Custom Products, you or your receiver is also liable to pay all applicable duties, taxes, customs levies and surcharges charged by local authorities or other state institutions in addition to brokerage and administration fees charged by the courier in the event: (a) your order exceeds the duty-free threshold of USD $800 per person per day, and/or (b) your order is deemed as a ‘commercial shipment’ by U.S. Customs and Border Protection. By placing an order for Custom Products, you acknowledge and agree that you are the importer of record for the Custom Products and you acknowledge and agree to your obligation to comply with all applicable laws and regulations of the destination country.
<br>
You hereby grant the Calvin Klein Parties a worldwide, irrevocable, non-exclusive, royalty-free, perpetual license to reproduce, disclose, transmit, modify, create derivative works of, adapt, publish, publicly perform and display, distribute, syndicate, sublicense and otherwise use User Communications in any manner whatsoever for any or all commercial or non-commercial purposes, with or without attribution or any compensation to you or any other party ("User Communications License"). The Calvin Klein Parties may, but are not obligated to, monitor or review any User Communications. The Calvin Klein Parties shall have no obligations to use, return, review, or respond to any User Communications or any liability related to the content of any such User Communications, whether or not arising under the laws of copyright, libel, privacy, obscenity, or otherwise.
<br>
Calvin Klein retains the right to remove any or all User Communications that includes any material that Calvin Klein deems inappropriate or unacceptable.
<br>
By making a User Communication, you represent and warrant that (i) you own all right, title and interest in and to the User Communication, or you have the necessary approvals and permissions to grant the User Communications License described above, (ii) the User Communication, and the exercise by Calvin Klein (or other authorized parties) of the rights granted under the User Communications License in relation to such User Communication, does not violate applicable law or the intellectual property rights or other rights of others, including, but not limited to, patent, trade secret, copyright (including without limitation moral rights), trademark, publicity, privacy and contract rights of others and (iii) the User Communication does not contain software viruses, spiders, spybots, commercial solicitation, chain letters, mass mailings, any form of spam, or any other content that is prohibited under these Terms and Conditions.
<br>
We do not guarantee that User Communications will not be lost or damaged or that you will be able to retrieve User Communications.
<br><br>
<b>4. Prohibited Submissions.</b>
<br>
You are prohibited from posting or transmitting any unlawful, threatening, defamatory, libelous, obscene, pornographic or profane material or any material that could constitute or encourage conduct that would be considered a criminal offense or give rise to civil liability, or otherwise violate any law. In addition to any remedies that Calvin Klein may have at law or in equity, if Calvin Klein reasonably determines that you have violated or are likely to violate the foregoing prohibitions, Calvin Klein may take any action they reasonably deem necessary to cure or prevent the violation, including without limitation, the immediate removal from this Site of the related materials. Calvin Klein will fully cooperate with any law enforcement authorities or court order or subpoena requesting or directing Calvin Klein to disclose the identity of anyone posting such materials.
<br><br>
<b>5. Ownership and Permitted Use of Content</b>
<br>
The Site design and all text, graphics, information, trademarks, service marks, trade names, photographs, advertisements, content, and other material displayed on or that can be downloaded from the Site or any other Service (the "Content") are either the property of, or used with permission by, Calvin Klein. The ownership of all Content is retained by its owner. You may not (i) modify the information or materials located on the Site or accessible via a Service in any way or reproduce or publicly display, perform, or distribute or otherwise use any such materials for any public or commercial purpose, including marketing, or (ii) remove, obscure or otherwise deface proprietary notices appearing on any Content, including copyright, trademark and other intellectual property notices.
<br>
The Content is protected by copyright, trademark and other laws and international treaty provisions and may not be used except as permitted in these Terms and Conditions or with the prior written permission of the owner of such Content. Any unauthorized use by you of such Content may subject you to civil and criminal penalties.
<br><br>
<b>6. Trademarks</b><br>
Certain trademarks, trade names, service marks and logos used or displayed on the Site or any other Service are registered and unregistered trademarks, trade names and service marks of the Calvin Klein Parties. Other trademarks, trade names and service marks used or displayed on the Site are the registered and unregistered trademarks, trade names and service marks of their respective owners. Nothing contained on the Site or any Service grants or should be construed as granting, by implication, estoppel, or otherwise, any license or right to use any of the displayed trademarks, trade names, service marks or logos without the written permission of Calvin Klein, it parent, affiliates, or other related or affiliated parties.
<br><br>
<b>7. Prohibited Actions</b><br>
While visiting the Site and participating in, accessing and using the Features (cumulatively "Using the Site"), you must conduct yourself in a polite, courteous and respectful manner, comply with all applicable laws, rules and regulations and supply truthful and non-misleading information. For example, you may not, while Using the Site: request, or otherwise attempt to harvest, obtain or store, personal information, passwords, account information or any other type of information relating to other users; access or use another person's account; disguise the origin of User Communication; alter, modify, frame, or "mirror" any Content; create a deep-link to our Site by by-passing our Site's home page; use any data mining, robots, or similar data-gathering and extraction tools in connection with the Site; inhibit, disrupt, or otherwise prevent anyone from using or accessing the Site or interrupt any user's experience on the Site, including, but not limited to, acting in any manner that disrupts users' real-time exchanges; interfere with or disrupt the Site, or servers or network connections to the Site, disobey any requirements, procedures, policies or regulations of networks connected to the Site; modify, adapt, sublicense, translate, sell, reverse engineer, decompile or disassemble any portion of the Site; or attempt to gain unauthorized access to the Site (or any portion thereof).
<br><br>
<b>8. Availability of Products, Services, Features and Content</b><br>
All Features, Content, and products and services available on or through the Site or any other Service, including, but not limited to, prices of such products and services, are subject to change at any time without notice. In addition, any Feature, Content, product or service may be discontinued at any time in our sole discretion. The inclusion of any Features, Content, products or services in the Site or other Service at a particular time does not imply or warrant that these products or services will be available at any time. It is your responsibility to ascertain and obey all applicable local, state, provincial, federal and international laws (including minimum age requirements) in regard to the possession, use and sale of any service or product purchased from this Site. By placing an order, you represent that the products ordered will be used only in a lawful manner.
<br><br>
<b>9. Accuracy of Information</b><br>
The Calvin Klein Parties take reasonable efforts to ensure that information on the Site or provided via any other Service is complete, accurate and current. Despite such efforts, however, the information on the Site or made available via a Service may be inaccurate, incomplete or out of date. Weights, measures, product descriptions, recommendations, commentary regarding products and similar descriptions are provided for convenience purposes only and may be approximations. The Calvin Klein Parties make efforts to accurately display the attributes of our products and services available for purchase, including the applicable colors; however, the actual color you see will depend on your computer system and we cannot guarantee that your computer will accurately display such colors. The Calvin Klein Parties make no representation as to the completeness, accuracy or timeliness of any information. For example, products included on the Site may be unavailable, may have different attributes than those listed, or, to the extent permitted by law, may actually carry a different price than that stated on the Site. In addition, we may make changes in information about price and availability without notice. While it is the practice of the Calvin Klein Parties to confirm orders by email, the receipt of an email order confirmation does not constitute acceptance of an order or confirmation of an offer to sell a product or service. The Calvin Klein Parties reserve the right, without prior notice, to limit the order quantity on any product or service and/or to refuse service to any customer. The Calvin Klein Parties also may require verification of information prior to the acceptance and/or shipment of any order.
<br>
<b>10. Shipment of Order</b><br>
Orders will be shipped to the address designated by the purchaser as long as that shipping address is compliant with the shipping restrictions contained on the Site (or any other Service) and Orders may be shipped through a third party shipper or fulfillment process. All purchases from this Site or other Service are made pursuant to a shipment contract. As a result, risk of loss and title for items purchased from the Site or a Service pass to the buyer upon delivery of the items to the carrier. The buyer is responsible for filing any claims with carriers for damaged and/or lost shipments.
<br><br>
<b>11. Linking to this Site</b><br>
Creating or maintaining any link from another website to any page on this Site without Calvin Klein's prior written permission is prohibited. Any permitted links to this Site must comply with all applicable laws, rule and regulations.
<br><br>
<b>12. Applicability of Additional Terms and Conditions</b><br>
Additional or different terms and conditions ("Other Terms") may apply in connection with certain Features (e.g. testimonials, sweepstakes or contest entries) or another Service offered by us. If applicable, these Other Terms will be set forth (i) where you are permitted to submit Content, access or use Features or any other Service, or purchase products and services, or (ii) in a link adjacent to where you are permitted to submit Content, access Features, or purchase products and services. These Other Terms are incorporated into and made a part of these Terms and Conditions by reference. In the event Other Terms conflict with these Terms and Conditions, the Other Terms shall control with respect to the subject matter to which such Other Terms apply.
<br><br>
<b>13. Third Party Links</b><br>
From time to time, the Site or other Service may contain links to websites that are not governed by these Terms and Conditions (the "Linked Sites"). All such links are provided solely as a convenience to you. If you use these links, you will leave this Site. The Calvin Klein Parties are not responsible for any content, materials or other information located on or accessible from any other website. The Calvin Klein Parties do not endorse, guarantee, or make any representations or warranties regarding any other website, or any content, materials or other information located on or accessible from such websites, or the results that you may obtain from using such websites. If you decide to access any other website linked to or from this Site, you do so entirely at your own risk. You should review the policies and terms and conditions associated with Linked Sites closely before using, submitting information to such Linked Sites, and allowing children to visit Linked Sites.
<br><br>
<b>14. Disclaimer of Warranty</b><br>
THE SITE AND ANY OTHER SERVICE PROVIDED BY US ARE PROVIDED "AS IS" AND "AS AVAILABLE." TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, CALVIN KLEIN AND THE OTHER CALVIN KLEIN PARTIES DISCLAIM ALL WARRANTIES, CONDITIONS AND REPRESENTATIONS OF ANY KIND, WHETHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING WITHOUT LIMITATION ANY WARRANTIES OR CONDITIONS: (i) OF MERCHANTABILITY, MERCHANTABLE QUALITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT; OR (ii) THAT ACCESS TO OR USE OF THE SITE OR ANY OTHER SERVICE OR ANY PART THEREOF WILL BE UNINTERRUPTED, FREE OF VIRUSES OR OTHER HARMFUL CODE, OR SECURE, OR THAT PROBLEMS WILL BE CORRECTED, EVEN IF CALVIN KLEIN OR ANY OTHER CALVIN KLEIN PARTY IS ON NOTICE OF SUCH PROBLEMS. YOU AGREE THAT YOUR USE OF THIRD-PARTY WEBSITES AND RESOURCES, ACCESSED THROUGH USE OF THE SERVICE IS AT YOUR OWN RISK AND IS SUBJECT TO THE TERMS AND CONDITIONS APPLICABLE TO THOSE THIRD-PARTY SITES AND RESOURCES.
<br>
<b>15. Limitations of Liability</b><br>
TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL THE CALVIN KLEIN PARTIES BE LIABLE TO ANY PARTY FOR ANY INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL DAMAGES (INCLUDING, WITHOUT LIMITATION, THOSE RESULTING FROM LOST PROFITS, LOST DATA OR BUSINESS INTERRUPTION) ARISING OUT OF THE USE OR INABILITY TO USE ANY SERVICE, OR THE RESULTS THEREFROM, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING WITHOUT LIMITATION NEGLIGENCE) OR ANY OTHER LEGAL THEORY AND WHETHER OR NOT ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
<br>
THE FOREGOING DISCLAIMER OF EXPRESS, IMPLIED OR STATUTORY WARRANTIES AND LIMITATIONS OF LIABILITY DO NOT APPLY TO THE EXTENT PROHIBITED BY LAW (INCLUDING, E.G, AS PROHIBITED BY THE LAWS OF THE STATE OF NEW JERSEY OR THE PROVINCES OF QUEBEC OR ONTARIO). PLEASE REFER TO YOUR LOCAL LAWS FOR ANY SUCH PROHIBITIONS.
<br><br>
<b>16. Termination</b><br>
Calvin Klein reserves the right to suspend or terminate your account (and, subject to applicable laws, delete the profile corresponding to such account and any accompanying content) or your use of the Site or Features or any other Service at any time, for any reason or for no reason. We reserve the right to change, suspend, or discontinue all or any aspect of this Site and Features, products and services available on or through the Site, or any other Service at any time without notice. You are personally liable for any orders that you place or charges that you incur or are made under your account prior to termination. We shall not be liable to you or any third party for any of the foregoing.
<br><br>
<b>17. Governing Law and Dispute Resolution/Arbitration
Governing Law</b><br>
To the fullest extent permitted by law, any claim, controversy or dispute arising out of or relating to the Site or any other Service, these terms or any other policies or other terms incorporated herein (including the breach, termination, enforcement, interpretation, enforceability, validity, or rights under any of any of the foregoing) (each, a “Dispute”) will be governed by and construed in accordance with the laws of the State of New York, USA, without regard to its choice of law principles.
Binding Arbitration<br>
To the fullest extent permitted by law, you and Calvin Klein each agree to submit exclusively to confidential, binding arbitration in the event of a Dispute. The arbitration will be held in New York, New York on an individual basis and not as a class action. In the event that arbitration is not permitted by applicable law: (i) the parties expressly agree that any Dispute will be brought and heard solely and exclusively in the federal or state courts of competent jurisdiction located in New York County, New York and (ii) the parties waive any plea or defense that such courts of are not the appropriate venue or that they are not subject to personal jurisdiction of such courts.
<br>
To the fullest extent permitted by law and subject to the terms of the paragraph above regarding New York jurisdiction and venue: (i) you expressly waive any right you may have to arbitrate a dispute as a class action; and (ii) you also expressly waive your right to a jury trial. The arbitration will be administered by JAMS. You may obtain a copy of the rules of JAMS by contacting the organization. Each of us shall agree on one arbitrator to conduct the arbitration. In the event the parties cannot agree on an arbitrator, the arbitrator will be selected in accordance with the JAMS rules. Each party shall be responsible for its own attorney, expert and other fees, unless such fees are awarded by the arbitrator to the prevailing party.
<br>
Notwithstanding anything to the contrary in this Section, to the extent either party in any manner has violated or threatened to violate the other party’s intellectual property rights, the non-breaching party may seek injunctive or other appropriate relief in any state or provincial or federal court of competent jurisdiction.
<br><br>
Arbitration Final
<br>
The arbitrator’s award is final and binding on all parties. The Federal Arbitration Act, and not any state or provincial law concerning arbitration, governs all arbitration under this clause. Any court having jurisdiction may enter judgment on the arbitrator’s award. If any part of this clause, other than waivers of class action rights, is deemed or found to be unenforceable for any reason, the remainder shall remain enforceable. Notwithstanding anything to the contrary contained herein, if the waiver of class action rights contained herein is not enforceable as to any person or persons, such non-enforceability shall apply to such person or persons only, and all other persons shall continue to be governed by the Arbitration Clause.
<br>
<b>Giving Up Right of Class Action</b>
<br>
As stated above, to the fullest extent permitted by law, these terms provide that all Disputes will be resolved by binding arbitration and not in court or by jury trial. IF A DISPUTE IS ARBITRATED, YOU GIVE UP YOUR RIGHT TO PARTICIPATE AS A CLASS REPRESENTATIVE OR CLASS MEMBER ON ANY CLASS CLAIM YOU MAY HAVE AGAINST THE CALVIN KLEIN PARTIES INCLUDING ANY RIGHT TO CLASS ARBITRATION OR ANY CONSOLIDATION OF INDIVIDUAL ARBITRATIONS. WITHOUT LIMITATION, THIS INCLUDES GIVING UP YOUR RIGHTS TO BRING OR PARTICIPATE IN A CLASS ACTION AS SET FORTH IN ANY STATE OR PROVINCIAL STATUTE.
<br>
<b>Additional Limit on Claims</b>
Except as otherwise prohibited by law, any Dispute must be brought within one (1) year from the date the cause of action arises.
<br>
To the extent that any portions of Section 17 are prohibited by law (including, without limitation, as may be prohibited by the laws of the Provinces of Quebec and Ontario, Canada). Please refer to your local laws for any such prohibitions, then such portions shall be modified to the extent possible and necessary to preserve the original intentions of this Section, and the validity or enforceability of the remaining portions of this Section 17 shall not in any way be affected or impaired thereby.
<br><br>
<b>18. Miscellaneous</b><br>
You may not use the Site or any Service to import, export re-import or re-export materials or other content in violation of any applicable laws or regulations including without limitation United States and Canada import and export laws and regulations.
<br>
If any provision of these terms is held to be unlawful, void, or for any reason unenforceable, that provision will be deemed severable and will not affect the validity and enforceability of the remaining provisions.
<br>
These Terms and Conditions and any other policies or other terms incorporated herein, constitute the entire agreement between you and Calvin Klein relating to your use of the Site or any other Service and the use, handling, and rights to User Information or personal information submitted or provided by you, superseding any other agreement between you and Calvin Klein with respect to the subject matter hereof. Section headings in these terms are for convenience only and have no legal or contractual effect. If any provision of these terms or any other policies or other terms incorporated herein shall be found to be unenforceable, the other provisions shall still remain in full force and effect.
<br>
A printed version of these terms or any other policies or other terms incorporated herein shall be admissible in judicial and administrative proceedings based thereon to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.
<br><br>
<b>19. Contact Us</b><br>
For issues or questions related to the Site or any other Service or these Terms and Conditions please send a message to Customer Service or call us at 866-513-0513.
<br>
<b>WI-FI TERMS OF USE</b><br>

<b>Last Updated November 22, 2016</b><br>
BY CONNECTING TO ANY WIRELESS LOCAL AREA NETWORK THAT IS PROVIDED FOR CONSUMER USE IN A CALVIN KLEIN STORE (THE " WI-FI SERVICE"), YOU ACKNOWLEDGE THAT YOU HAVE READ THESE WIRELESS NETWORK TERMS OF USE (" WI-FI TERMS OF USE") BETWEEN YOU AND CALVIN KLEIN, INC. (" CALVIN KLEIN," “ WE” or “ US”), UNDERSTAND THEM, AGREE TO BE LEGALLY BOUND BY THEM, ONLY USE THE WI-FI SERVICE IN ACCORANCE WITH LAWS AND REGULATIONS, AND HAVE THE LEGAL CAPACITY TO DO SO.
<br>
EACH TIME THAT YOU USE THE WI-FI SERVICE, THE CURRENT VERSION OF THESE TERMS OF USE WILL APPLY. WHEN YOU USE THE WI-FI SERVICE, YOU SHOULD CHECK THE DATE OF THE TERMS OF USE (WHICH APPEARS ABOVE) AND REVIEW ANY CHANGES THAT HAVE BEEN MADE SINCE YOU LAST USED THE WI-FI SERVICE.
<br>
If you do not agree to these Wi-Fi Terms of Use, do not use or access the Wi-Fi Service. Use of the Wi-Fi Service is voluntary.
<br>
Wi-Fi Service Availability
The Wi-Fi Service is offered at select Calvin Klein stores or other locations in the United States. The Wi-Fi Service is provided solely as convenience to you. It is not intended to subject Calvin Klein to the laws or jurisdiction of any state, country or territory other than that of the United States. You are responsible for complying with all local laws, rules and regulations.
<br>
Right to Discontinue or Limit the Wi-Fi Service
The Wi-Fi Service is currently provided at no charge. However, Calvin Klein reserves the right in the future to charge fees in connection with the Wi-Fi Service.
<br>
The Wi-Fi Service may not be accessible from all devices.
<br>
Calvin Klein may also suspend, discontinue or limit the Wi-Fi Service (e.g., by limiting the use of the Wi-Fi Service to certain sites) at any time and in its sole discretion.
<br>
<b>Risk of Unencrypted Network; User Responsibilities</b><br>
Use of the Wi-Fi Service is at your own risk. There are privacy and security risks associated with connecting to the Internet over wireless communications. The Wi-Fi Service is not encrypted or secured in any way, and any material or other communications that you transmit or receive using the Wi-Fi Service may be accessible to third parties. Accordingly, while using the Wi-Fi Service, you assume all responsibility and waive any claim against Calvin Klein associated with the privacy and/or security of wireless communications and thus are responsible for (i) implementing any safeguards you deem to be appropriate to protect and secure your privacy and systems; and (ii) evaluating the suitability, appropriateness or legality of any third party content or other materials you may encounter online in using the Wi-Fi Service.
<br>
<b>Monitoring and Confidentiality</b><br>
Calvin Klein has the right (but not the obligation) to monitor and/or screen your communications and activities via the Wi-Fi Service during transmission and in connection with use of this Wi-Fi Service. Calvin Klein may access, preserve or disclose any such information for purposes of ensuring your compliance with these Wi-Fi Terms of Use and applicable law, cooperating with legal authorities, and otherwise protecting the rights, property and interests of Calvin Klein and its parent, affiliates, partners, and/or guests. Calvin Klein cannot assure that your communications or activities will be private or secure during your use of the Wi-Fi Service. YOU ACKNOWLEDGE AND AGREE THAT YOU DO NOT HAVE AN EXPECTATION OF PRIVACY OR CONFIDENTIALITY WHEN USING THE WI-FI SERVICE.
<br>
<b>Information Collection and Use<br></b>
Calvin Klein collects information about your use of the Wi-Fi Service, including bandwidth use, type of device (including make and model), your device’s MAC address, IP address, received signal strength indicator (RSSI) and other technical details about your device (e.g., operating system), session length, sites visited and use of Calvin Klein services (e.g. mobile coupons, mobile applications), the areas in-store that you may visit. Please note that we may collect information even if you do not actively use your Internet browser or mobile applications while you are at one of our locations. Also, please note that disconnecting yourself from our Wi-Fi network will only disconnect you during your current visit.
<br>
We may associate this information with other data we have collected from or about you. This information is used for internal operations such as enhancing the Wi-Fi Service’s effectiveness, analyzing how the Wi-Fi Service is used and improving our stores, mobile experience and marketing efforts, and for purposes specified in our Privacy Policy. For further information regarding Calvin Klein’s collection, use and disclosure of information collected in connection with your use of the Wi-Fi Service, please see the Calvin Klein Privacy Policy.
<br>
Additionally, we require that you submit your email address in order to connect to the Wi-Fi Service. Upon submission of your contact information (e.g., email), you will consent to receive marketing communications from us and we can use your contact information to provide you with personalized offers, promotions and other content in accordance with our Privacy Policy. You can unsubscribe at any time by following the unsubscribe instructions included in our email communications or by following instructions provided in our Privacy Policy.
<br>
<b>Prohibited Actions
In using the Wi-Fi Service, you may not:</b><br>
<br>
Resell or otherwise grant access to any party not authorized by Calvin Klein;
Use the Wi-Fi Service to transmit material or in any manner that is infringing, libelous, indecent, threatening, harassing, tortious, malicious, obscene, that violates another’s privacy, is hateful or otherwise unlawful or harmful to anyof the Calvin Klein Parties (as defined in the Terms & Conditions) or any other party involved in the operations or delivery of this Wi-Fi Service;
Attempt to gain unauthorized access to systems or networks of any of the Calvin Klein Parties;
Harvest, scrape, or otherwise collect or store any information about other users of the Wi-Fi Service, including e-mail addresses, without the express consent of such users;
Engage in any activity in the nature of a “denial of service” attack or otherwise interfere with the use of the Wi-Fi Service by any other user;
Impersonate any person or entity or otherwise falsely state or otherwise your affiliation with a person or entity, forge headers, or otherwise manipulate identifiers in order to disguise the origin of any material transmitted by the Wi-Fi Service or engage in phishing, hacking, port scanning or other fraudulent activity;
Create a “mail drop” for communications or engage or permit e-mail relay services;
“Spoof” or otherwise impersonate any other party, falsely state or otherwise misrepresent your identity or affiliation in any way, or delete or alter any part of TCP/IP packed header or sender identification information in any communication;<br>
Transmit any content that contains or installs any viruses, worms, bugs, Trojan horses, malware or other malicious code, files or programs designed or having the capability to disrupt damage or limit the functionality of any network, system, software, hardware or personal information;
Engage in any activity which is harmful to minors or permit a minor to use this service to access any content intended for adult audiences;<br>
Transmit (by uploading, posting, email or otherwise) any unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes" or any other form of solicitation;
Disrupt the normal flow of dialogue, cause a screen to "scroll" faster than other users of the Wi-Fi Service are able to type, or otherwise act in a manner that negatively affects other users’ ability to engage in real time exchanges;
Interfere with or disrupt the Wi-Fi Service or servers or networks connected to the Wi-Fi Service, or disobey any requirements, procedures, policies or regulations of networks connected to the Wi-Fi Service; or
Use the Wi-Fi Service as a replacement for residential or commercial Internet access or for high volume data transfers, especially sustained high volume data transfers, hosting a web server, IRC server, or any other server.
Calvin Klein has the right (but not the obligation), at any time and at its sole discretion, to block inappropriate material, websites or other resources, and/or suspend or terminate an individual’s access to the Wi-Fi Service for engaging in these

<br>


<b>Call us: 866.513.0513</b>



            <br>

         </div>
      </section>
   </div>
   <div class="navigation-top">
      <div class="d-sm-flex justify-content-between text-center">
         <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Check out Social Media Handles</p>
         <div class="col-sm-4 text-center my-2 my-sm-0">
            <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
         </div>
         <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fab fa-behance"></i></a></li>
         </ul>
      </div>
      
   </div>
   
   
</div>
<div class="col-lg-4">
   <div class="blog_right_sidebar">
    
      <aside class="single_sidebar_widget post_category_widget">
         <h4 class="widget_title">Other Gift Cards</h4>
         <ul class="list cat-list">
           <li>
            <a href="/card/walmart" class="d-flex">
               <p>Walmart</p>
               
            </a>
         </li>
         <li>
            <a href="/card/bestbuy" class="d-flex">
               <p>Best Buy</p>
               
            </a>
         </li>
         <li>
            <a href="/card/target" class="d-flex">
               <p>Target</p>
               
            </a>
         </li>
         <li>
            <a href="/card/amazon" class="d-flex">
               <p>Amazon</p>
               
            </a>
         </li>
         
      </ul>
   </aside>
   <aside class="single_sidebar_widget post_category_widget">
      <h4 class="widget_title">Popular Gift Cards</h4>
      <ul class="list cat-list">
         <li>
            <a href="/card/walmart" class="d-flex">
               <p>Walmart</p>
               
            </a>
         </li>
         <li>
            <a href="/card/bestbuy" class="d-flex">
               <p>Best Buy</p>
               
            </a>
         </li>
         <li>
            <a href="/card/target" class="d-flex">
               <p>Target</p>
               
            </a>
         </li>
         <li>
            <a href="/card/amazon" class="d-flex">
               <p>Amazon</p>
               
            </a>
         </li>
         
      </ul>
   </aside>
       <!--            <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Recent Post</h3>
                     <div class="media post_item">
                        <img src="assets/img/post/post_1.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>From life was you fish...</h3>
                           </a>
                           <p>January 12, 2019</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_2.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>The Amazing Hubble</h3>
                           </a>
                           <p>02 Hours ago</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_3.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>Astronomy Or Astrology</h3>
                           </a>
                           <p>03 Hours ago</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_4.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>Asteroids telescope</h3>
                           </a>
                           <p>01 Hours ago</p>
                        </div>
                     </div>
                  </aside> -->
               <!--    <aside class="single_sidebar_widget tag_cloud_widget">
                     <h4 class="widget_title">Tag Clouds</h4>
                     <ul class="list">
                        <li>
                           <a href="#">project</a>
                        </li>
                        <li>
                           <a href="#">love</a>
                        </li>
                        <li>
                           <a href="#">technology</a>
                        </li>
                        <li>
                           <a href="#">travel</a>
                        </li>
                        <li>
                           <a href="#">restaurant</a>
                        </li>
                        <li>
                           <a href="#">life style</a>
                        </li>
                        <li>
                           <a href="#">design</a>
                        </li>
                        <li>
                           <a href="#">illustration</a>
                        </li>
                     </ul>
                  </aside> -->
             <!--      <aside class="single_sidebar_widget instagram_feeds">
                     <h4 class="widget_title">Instagram Feeds</h4>
                     <ul class="instagram_row flex-wrap">
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_5.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_6.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_7.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_8.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_9.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_10.png" alt="">
                           </a>
                        </li>
                     </ul>
                  </aside> -->
                  <aside class="single_sidebar_widget newsletter_widget">
                     <h4 class="widget_title">Newsletter</h4>
                     <form action="#">
                        <div class="form-group">
                           <input type="email" class="form-control" onfocus="this.placeholder = ''"
                           onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                        type="submit">Subscribe</button>
                     </form>
                  </aside>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->
   <% include ./partials/cards_footer %>