<% include ./partials/user_header %>

      <!-- End Navbar -->
      <div class="content">
        
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Inbox</h5>
                <p class="card-category">Updated just now</p>
              </div>
              <div class="card-body ">
       
<!--msb: main sidebar-->

<!--main content wrapper-->

  <!--navigation here-->
  <!--main content view-->



     
       <div class="inbox-bx container-fluid">
         <div class="row">
         
           <div class="col-md-12">
             <table class="table table-stripped">
               <tbody>
                 <tr>
                   <td><input type="checkbox"/></td>
                   <td><i class="fa fa-star"></i></td>
                   <td><b>Mozilla</b></td>
                   <td><b>In celebration of women and girls everywhere</b></td>
                   <td></td>
                   <td>Mar 10</td>
                 </tr>
                 <tr>
                   <td><input type="checkbox"/></td>
                   <td><i class="fa fa-star-o"></i></td>
                   <td>Dan Glenn</td>
                   <td>[ptcuser-announcements] - PTC/USER Expert Speaker Series Webinar March 9, 2017 11AM (EST)</td>
                   <td><i class="fa fa-paperclip"></i></td>
                   <td>Mar 10</td>
                 </tr>
                 <tr>
                   <td><input type="checkbox"/></td>
                   <td><i class="fa fa-star-o"></i></td>
                   <td>Jetpack</td>
                   <td>Announcing some highly requested improvements and our new affiliate program</td>
                   <td></td>
                   <td>Mar 08</td>
                 </tr>
                 <tr>
                   <td><input type="checkbox"/></td>
                   <td><i class="fa fa-star-o"></i></td>
                   <td>Jetpack</td>
                   <td>Announcing some highly requested improvements and our new affiliate program</td>
                   <td></td>
                   <td>Mar 08</td>
                 </tr>
                 <tr>
                   <td><input type="checkbox"/></td>
                   <td><i class="fa fa-star-o"></i></td>
                   <td>Jetpack</td>
                   <td>Announcing some highly requested improvements and our new affiliate program</td>
                   <td></td>
                   <td>Mar 08</td>
                 </tr>
                 <tr>
                   <td><input type="checkbox"/></td>
                   <td><i class="fa fa-star-o"></i></td>
                   <td>Jetpack</td>
                   <td>Announcing some highly requested improvements and our new affiliate program</td>
                   <td></td>
                   <td>Mar 08</td>
                 </tr>
                 <tr>
                   <td><input type="checkbox"/></td>
                   <td><i class="fa fa-star-o"></i></td>
                   <td>Jetpack</td>
                   <td>Announcing some highly requested improvements and our new affiliate program</td>
                   <td></td>
                   <td>Mar 08</td>
                 </tr>
                 <tr>
                   <td><input type="checkbox"/></td>
                   <td><i class="fa fa-star-o"></i></td>
                   <td>Jetpack</td>
                   <td>Announcing some highly requested improvements and our new affiliate program</td>
                   <td></td>
                   <td>Mar 08</td>
                 </tr>

               </tbody>
             </table>
           </div>

    </div>
     </div>
    </div>
  </div>

     <br>   <br><br>
</div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li><a href="#" target="_blank">Policies</a></li>
                <li><a href="#" target="_blank">About</a></li>
            
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                © <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by MindWorkers
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
      demo.initChartsPages();
    });
  </script>
</body>
<script >
  (function(){
  $('#msbo').on('click', function(){
    $('body').toggleClass('msb-x');
  });
}());

  document.getElementById('navss').classList.add("active");
</script>
</html>
