


<% include ./partials/cards_header %>

<style type="text/css">
   li a{
     color: white;  
  }
</style>
<!-- Slider Area Start-->
<div class="services-area" style="background-color: #0072CE;">
   <div class="container">

     <!-- Section-tittle -->
     <div class="row d-flex justify-content-center">
       <div class="col-lg-8">
         <div class="section-tittle text-center mb-80">
            
           <h2 style="color: white;">fandango</h2>
        </div>
     </div>
  </div>
</div>
</div>
<!-- Slider Area End-->

<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding" >
   <div class="container">
      <div class="row">
         <div class="col-lg-8 posts-list">
            <div class="single-post">
               <section class="sample-text-area">
                  <div class="container box_1170">
                     <h3 class="text-heading">fandango</h3>
                     <p class="sample-text">


                        <b> <label>Head Quarters:</label></b><span>&nbsp;&nbsp; - NA</span>
                        <br>
                        <b> <label>Customer care:</label></b><span>&nbsp;&nbsp;
                           Phone:
                        1-800-FANDANGO
</span>
                        <br>
                        <b> <label>Check Balance:</label></b><span>&nbsp;&nbsp;<a href="https://www.fandangonow.com/region-error" style="color: blue;">
                        click here</a></span>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header" style="background-color: #0072CE;">
                                <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Check Balance</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                               </button>
                            </div>
                            <div class="modal-body">
                             <form>
                               <div class="form-group">
                                 <label for="recipient-name" class="col-form-label">Card No:</label>
                                 <input type="text" class="form-control" id="recipient-name" placeholder="1245-4566-6744-3422">
                              </div>
                              <div class="form-group">
                                 <label for="message-text" class="col-form-label">Pin:</label>
                                 <input type="text" class="form-control" id="recipient-name" placeholder="PIN">
                              </div>
                              <div class="form-group">
                                 <label for="message-text" class="col-form-label">Email:</label>
                                 <input type="text" class="form-control" id="recipient-name" placeholder="Optional">
                              </div>
                           </form>
                        </div>
                        
                        <div class="modal-footer">
                         
                          <button type="button" class="btn header-btn">Check Now</button>
                       </div>
                    </div>
                 </div>
              </div>
              <br>
           
           </p>
           <h3 class="text-heading">Policies</h3>
           <p>
          Terms and conditions
ustomers must purchase $50 or more worth of Fandango gift card(s) in a single transaction on Fandango between 12:01am PT on Monday 3/9/2020 and 11:59pm PT on Thursday 4/30/2020 (each, an “Eligible Purchaser”) and enter the promo code FAN2020 at checkout. Fandango will email the Eligible Purchaser one (1) unique discount code (“Code”) good towards $10 off the purchase of $50 or more worth of qualifying merchandise at fanatics.com in a single transaction. Code expires 5/31/2020 at 11:59pm ET. Code is not valid for use on sale, limited quantity, recent playoff, championship, special event and race winning product, NFL MLB NBA and NHL jerseys, MLB and NFL On-Field headwear, select athletes and memorabilia, Under Armour, Alex and Ani, Dooney & Bourke, Lillie Bee, Lionel, Vera Bradley, Wilson, Beats by Dre, Yeti, select 2019-2020 Nike Products, Under Armour Footwear, die cast and show tickets. Other brands or merchandise (based on availability or other factors) may be excluded. Except where required by law, Code cannot be redeemed for cash, reproduced, modified, sold, traded, refunded or replaced. Limit one Code per customer. Code is one time use only. Offer valid only while supplies last. Code is not valid for gift codes, cards or certificates or taxes. Code is not valid on previous purchases or returns. Free shipping on fanatics.com (if applicable on orders reaching any stated dollar minimum) valid in Continental U.S., US Territories and APO/FPO for eligible merchandise only. Code cannot be combined with other promotions or discounts. This offer may be modified or terminated at any time without notice. This promotion is subject to Fandango’s Terms and Policies and Privacy Policy at www.fandango.com/Terms-and-Policies. The redemption of the Code is subject to Fanatics’ Terms of Use at www.fanatics.com/fanatics-terms-of-use/x-80.
<br><br>
How do I redeem my gift card?
<br><br>
You can redeem your Fandango gift card by visiting Fandango.com, Flixster.com, or the Fandango or Flixster apps, and:
Select a showtime
Under the payment section click or tap on ‘use gift card’ and enter your gift card code and pin (if available)
If your purchase is more than the value of your gift card, you will have to pay the remaining balance with another method of payment. If your purchase is less than the value of your gift card, you can use any remaining gift card balance on your next purchase by re-entering your gift card number and PIN.
Complete your purchase and enjoy the movie.
You can redeem your MovieTickets.com gift card by visiting movietickets.com, and:
Select a showtime
<br><br>
Under the payment section click or tap on ‘use gift card’ and enter your gift card code and pin (if available)
If your purchase is more than the value of your gift card, you will have to pay the remaining balance with another method of payment. If your purchase is less than the value of your gift card, you can use any remaining gift card balance on your next purchase by re-entering your gift card number and PIN.
Complete your purchase and enjoy the movie.
To use your gift card for FandangoNOW, visit FandangoNOW.com and:
<br><br>
Select the movie or TV show you’d like to rent or buy.
If you are not signed in, you will first be prompted to enter your email and password for your FandangoNOW account. If you don't have a FandangoNOW account, you can select "Join Fandango VIP" to create one.
Once signed in, you will be taken to the checkout page.
Below Order Summary, select "Use Gift Card" and enter your gift card number and PIN (if available).
If your purchase is more than the value of your gift card, you can pay the remaining balance with another method of payment. If you have a credit card on file, the remaining balance will be charged to that card.
If your purchase is less than the value of your gift card, you can use any remaining gift card balance on your next purchase by re-entering your gift card number and PIN. Be sure to hold on to your card so you can use any remaining balance on your next purchase.
You can then complete your purchase and enjoy your movie or TV show on any supported device!
NOTE: Fandango gift cards can be used on FandangoNOW and Flixster. FandangoNOW gift cards can be used on Fandango and Flixster. MovieTickets.com gift cards can only be used MovieTickets.com.
<br><br>
To contact our support team directly, please call 1-800-FANDANGO.
<br><br>





            <br>

         </div>
      </section>
   </div>
   <div class="navigation-top">
      <div class="d-sm-flex justify-content-between text-center">
         <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Check out Social Media Handles</p>
         <div class="col-sm-4 text-center my-2 my-sm-0">
            <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
         </div>
         <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fab fa-behance"></i></a></li>
         </ul>
      </div>
      
   </div>
   
   
</div>
<div class="col-lg-4">
   <div class="blog_right_sidebar">
    
      <aside class="single_sidebar_widget post_category_widget">
         <h4 class="widget_title">Other Gift Cards</h4>
         <ul class="list cat-list">
           <li>
            <a href="/card/walmart" class="d-flex">
               <p>Walmart</p>
               
            </a>
         </li>
         <li>
            <a href="/card/bestbuy" class="d-flex">
               <p>Best Buy</p>
               
            </a>
         </li>
         <li>
            <a href="/card/target" class="d-flex">
               <p>Target</p>
               
            </a>
         </li>
         <li>
            <a href="/card/amazon" class="d-flex">
               <p>Amazon</p>
               
            </a>
         </li>
         
      </ul>
   </aside>
   <aside class="single_sidebar_widget post_category_widget">
      <h4 class="widget_title">Popular Gift Cards</h4>
      <ul class="list cat-list">
         <li>
            <a href="/card/walmart" class="d-flex">
               <p>Walmart</p>
               
            </a>
         </li>
         <li>
            <a href="/card/bestbuy" class="d-flex">
               <p>Best Buy</p>
               
            </a>
         </li>
         <li>
            <a href="/card/target" class="d-flex">
               <p>Target</p>
               
            </a>
         </li>
         <li>
            <a href="/card/amazon" class="d-flex">
               <p>Amazon</p>
               
            </a>
         </li>
         
      </ul>
   </aside>
       <!--            <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Recent Post</h3>
                     <div class="media post_item">
                        <img src="assets/img/post/post_1.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>From life was you fish...</h3>
                           </a>
                           <p>January 12, 2019</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_2.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>The Amazing Hubble</h3>
                           </a>
                           <p>02 Hours ago</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_3.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>Astronomy Or Astrology</h3>
                           </a>
                           <p>03 Hours ago</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_4.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>Asteroids telescope</h3>
                           </a>
                           <p>01 Hours ago</p>
                        </div>
                     </div>
                  </aside> -->
               <!--    <aside class="single_sidebar_widget tag_cloud_widget">
                     <h4 class="widget_title">Tag Clouds</h4>
                     <ul class="list">
                        <li>
                           <a href="#">project</a>
                        </li>
                        <li>
                           <a href="#">love</a>
                        </li>
                        <li>
                           <a href="#">technology</a>
                        </li>
                        <li>
                           <a href="#">travel</a>
                        </li>
                        <li>
                           <a href="#">restaurant</a>
                        </li>
                        <li>
                           <a href="#">life style</a>
                        </li>
                        <li>
                           <a href="#">design</a>
                        </li>
                        <li>
                           <a href="#">illustration</a>
                        </li>
                     </ul>
                  </aside> -->
             <!--      <aside class="single_sidebar_widget instagram_feeds">
                     <h4 class="widget_title">Instagram Feeds</h4>
                     <ul class="instagram_row flex-wrap">
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_5.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_6.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_7.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_8.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_9.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_10.png" alt="">
                           </a>
                        </li>
                     </ul>
                  </aside> -->
                  <aside class="single_sidebar_widget newsletter_widget">
                     <h4 class="widget_title">Newsletter</h4>
                     <form action="#">
                        <div class="form-group">
                           <input type="email" class="form-control" onfocus="this.placeholder = ''"
                           onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                        type="submit">Subscribe</button>
                     </form>
                  </aside>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->
   <% include ./partials/cards_footer %>