<% include ./partials/cards_header %>

<style type="text/css">
   li a{
     color: white;  
  }
</style>
<!-- Slider Area Start-->
<div class="services-area" style="background-color: #F96302;">
   <div class="container">

     <!-- Section-tittle -->
     <div class="row d-flex justify-content-center">
       <div class="col-lg-8">
         <div class="section-tittle text-center mb-80">

           <h2 style="color: white;">Home Depot</h2>
        </div>
     </div>
  </div>
</div>
</div>
<!-- Slider Area End-->

<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding" >
   <div class="container">
      <div class="row">
         <div class="col-lg-8 posts-list">
            <div class="single-post">
               <section class="sample-text-area">
                  <div class="container box_1170">
                     <h3 class="text-heading">Home Depot</h3>
                     <p class="sample-text">



                        Not only can you buy gift cards online and have them shipped for free, you can also purchase and email an e-gift card directly to a recipient's inbox with a personal message. These virtual gift cards can be used at BestBuy.com, allowing your recipient to start shopping right away.
<br>
                        Buy gift cards in dollar amounts ranging from $15 to $500, and have them shipped for free. It is easy to check your gift card balance and get gift card help online, and there are no fees or expiration dates to worry about. Usable online or in store, Best Buy Gift Cards and online gift cards are the perfect gift to ensure your friends and family get the gifts on their wish list.
<br>
                        Gift Cards Make Holiday Gifting Easier
                        Skip the holiday lines this year and give everyone on your list the chance to choose their perfect gift with Best Buy holiday gift cards. You'll never have to worry about coming up with gift ideas, picking out the right size, or finding the perfect color with a gift card. With free shipping and no expiration dates, you can order all of your gifts online and have them shipped to you or the gift recipient of your choice. Tuck Christmas gift cards in stockings, slip them into holiday greeting cards, or wrap them up for something extra special that anyone would be thrilled to open.

<br>



                        To help the government fight the funding of terrorism and money laundering activities, Best Buy has limited the maximum value of each gift card to $500.



<br>









                        Buy Gift Cards Online
                        Shop our wide selection of Holiday, Happy Birthday, and Thank You gift cards. We also sell gift cards for graduations, weddings, Father's Day, Mother's Day and many other special occasions, each with a unique gift card design featuring distinctive and festive packaging..<br><br>
                        <b> <label>Head Quarters:</label></b><span>&nbsp;&nbsp;DMCA Agent
                           Best Buy Solutions, Inc.
                           B6-Legal Dept.
                           7601 Penn Ave. S
                        Richfield, MN 55423</span>
                        <br>
                        <b> <label>Customer care:</label></b><span>&nbsp;&nbsp;
                           Phone:
                           612-291-1000

                           Fax:
                        612-292-2323</span>
                        <br>
                        <b> <label>Check Balance:</label></b><span>&nbsp;&nbsp;<a href="/" style="color: blue;" data-toggle="modal" data-target="#exampleModal">
                        click here</a></span>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header" style="background-color: #F96302;">
                                <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Check Balance</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                               </button>
                            </div>
                            <div class="modal-body">
                             <form>
                               <div class="form-group">
                                 <label for="recipient-name" class="col-form-label">Card No:</label>
                                 <input type="text" class="form-control" id="recipient-name" placeholder="1245-4566-6744-3422">
                              </div>
                              <div class="form-group">
                                 <label for="message-text" class="col-form-label">Pin:</label>
                                 <input type="text" class="form-control" id="recipient-name" placeholder="PIN">
                              </div>
                              <div class="form-group">
                                 <label for="message-text" class="col-form-label">Email:</label>
                                 <input type="text" class="form-control" id="recipient-name" placeholder="Optional">
                              </div>
                           </form>
                        </div>

                        <div class="modal-footer">

                          <button type="button" class="btn header-btn">Check Now</button>
                       </div>
                    </div>
                 </div>
              </div>
              <br>
              For additional information regarding this procedure, please reference 17 USC 512.
           </p>
           <h3 class="text-heading">Policies</h3>
           <p>

            Not only can you buy gift cards online and have them shipped for free, you can also purchase and email an e-gift card directly to a recipient's inbox with a personal message. These virtual gift cards can be used at BestBuy.com, allowing your recipient to start shopping right away.
            <br><br>
            Buy gift cards in dollar amounts ranging from $15 to $500, and have them shipped for free. It is easy to check your gift card balance and get gift card help online, and there are no fees or expiration dates to worry about. Usable online or in store, Best Buy Gift Cards and online gift cards are the perfect gift to ensure your friends and family get the gifts on their wish list.
            <br>v
            Gift Cards Make Holiday Gifting Easier
            Skip the holiday lines this year and give everyone on your list the chance to choose their perfect gift with Best Buy holiday gift cards. You'll never have to worry about coming up with gift ideas, picking out the right size, or finding the perfect color with a gift card. With free shipping and no expiration dates, you can order all of your gifts online and have them shipped to you or the gift recipient of your choice. Tuck Christmas gift cards in stockings, slip them into holiday greeting cards, or wrap them up for something extra special that anyone would be thrilled to open.


            <br><br>


            To help the government fight the funding of terrorism and money laundering activities, Best Buy has limited the maximum value of each gift card to $500.
            <br>

         </div>
      </section>
   </div>
   <div class="navigation-top">
      <div class="d-sm-flex justify-content-between text-center">
         <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Check out Social Media Handles</p>
         <div class="col-sm-4 text-center my-2 my-sm-0">
            <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
         </div>
         <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fab fa-behance"></i></a></li>
         </ul>
      </div>

   </div>


</div>
<div class="col-lg-4">
   <div class="blog_right_sidebar">

      <aside class="single_sidebar_widget post_category_widget">
         <h4 class="widget_title">Other Gift Cards</h4>
         <ul class="list cat-list">
           <li>
            <a href="/cards/walmart" class="d-flex">
               <p>Walmart</p>

            </a>
         </li>
         <li>
            <a href="/cards/bestbuy" class="d-flex">
               <p>Best Buy</p>

            </a>
         </li>
         <li>
            <a href="/cards/target" class="d-flex">
               <p>Target</p>

            </a>
         </li>
         <li>
            <a href="/cards/amazon" class="d-flex">
               <p>Amazon</p>

            </a>
         </li>

      </ul>
   </aside>
   <aside class="single_sidebar_widget post_category_widget">
      <h4 class="widget_title">Popular Gift Cards</h4>
      <ul class="list cat-list">
         <li>
            <a href="/cards/walmart" class="d-flex">
               <p>Walmart</p>

            </a>
         </li>
         <li>
            <a href="/cards/bestbuy" class="d-flex">
               <p>Best Buy</p>

            </a>
         </li>
         <li>
            <a href="/cards/target" class="d-flex">
               <p>Target</p>

            </a>
         </li>
         <li>
            <a href="/cards/amazon" class="d-flex">
               <p>Amazon</p>

            </a>
         </li>

      </ul>
   </aside>
       <!--            <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Recent Post</h3>
                     <div class="media post_item">
                        <img src="assets/img/post/post_1.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>From life was you fish...</h3>
                           </a>
                           <p>January 12, 2019</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_2.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>The Amazing Hubble</h3>
                           </a>
                           <p>02 Hours ago</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_3.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>Astronomy Or Astrology</h3>
                           </a>
                           <p>03 Hours ago</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_4.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>Asteroids telescope</h3>
                           </a>
                           <p>01 Hours ago</p>
                        </div>
                     </div>
                  </aside> -->
               <!--    <aside class="single_sidebar_widget tag_cloud_widget">
                     <h4 class="widget_title">Tag Clouds</h4>
                     <ul class="list">
                        <li>
                           <a href="#">project</a>
                        </li>
                        <li>
                           <a href="#">love</a>
                        </li>
                        <li>
                           <a href="#">technology</a>
                        </li>
                        <li>
                           <a href="#">travel</a>
                        </li>
                        <li>
                           <a href="#">restaurant</a>
                        </li>
                        <li>
                           <a href="#">life style</a>
                        </li>
                        <li>
                           <a href="#">design</a>
                        </li>
                        <li>
                           <a href="#">illustration</a>
                        </li>
                     </ul>
                  </aside> -->
             <!--      <aside class="single_sidebar_widget instagram_feeds">
                     <h4 class="widget_title">Instagram Feeds</h4>
                     <ul class="instagram_row flex-wrap">
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_5.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_6.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_7.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_8.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_9.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_10.png" alt="">
                           </a>
                        </li>
                     </ul>
                  </aside> -->
                  <aside class="single_sidebar_widget newsletter_widget">
                     <h4 class="widget_title">Newsletter</h4>
                     <form action="#">
                        <div class="form-group">
                           <input type="email" class="form-control" onfocus="this.placeholder = ''"
                           onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                        type="submit">Subscribe</button>
                     </form>
                  </aside>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->
   <% include ./partials/cards_footer %>