<% include ./partials/header %>

    <main>

        <!-- Slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/hero/h1_hero.png">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-7 col-md-9 ">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".4s" style="color: ">Info <br> Gift Cards</h1>
                                    <p data-animation="fadeInLeft" data-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi.</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                        <a href="/popular-gift-cards" class="btn hero-btn">Start Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                                    <img src="assets/img/logo/home1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/hero/h1_hero.png">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-7 col-md-9 ">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".4s">We Collect<br> High Quality Leads</h1>
                                    <p data-animation="fadeInLeft" data-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi.</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                        <a href="industries.html" class="btn hero-btn">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                                    <img src="assets/img/hero/hero_right.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End-->
        <!-- What We do start-->
        <div class="what-we-do we-padding">
            <div class="container">
                <!-- Section-tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-tittle text-center">
                            <h2>Popular Gift Cards</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                             <img src="assets/img/logo/logo1.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Walmart</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/walmart"><i class="ti-arrow-right"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do active text-center mb-30">
                            <div class="do-icon">
                                <img src="assets/img/logo/logo1.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Homedepot</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/home-depot"><i class="ti-arrow-right"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                                <img src="assets/img/logo/logo1.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Bestbuy</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- What We do End-->
        <!-- We Create Start -->
   
        <!-- We Create End --><br>
        <!-- Generating Start -->
        <div class="generating-area ">
            <div class="container">
                 <!-- Section-tittle -->
                 <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-tittle text-center">
                            <h2>Gift Card Brands</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="single-generating d-flex mb-30">
                            <!-- <div class="generating-icon">
                                <span class="flaticon-chart"></span>
                            </div> -->
                            <div class="generating-cap">
                                <h4>Walmart</h4>
                                <img src="assets/img/logo/logo1.png" height="150px;">
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-4 col-md-4">
                        <div class="single-generating d-flex mb-30">
                            <!-- <div class="generating-icon">
                                <span class="flaticon-social-media-marketing"></span>
                            </div> -->
                            <div class="generating-cap">
                                <h4>Target</h4>
                                 <img src="assets/img/logo/logo1.png" height="150px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-generating d-flex mb-30">
                            <!-- <div class="generating-icon">
                                <span class="flaticon-speaker"></span>
                            </div> -->
                            <div class="generating-cap">
                                <h4>HomeDepot</h4>
                                  <img src="assets/img/logo/logo1.png" height="150px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-generating d-flex mb-30">
                            <!-- <div class="generating-icon">
                                <span class="flaticon-growth"></span>
                            </div> -->
                            <div class="generating-cap">
                                <h4>Best Buy</h4>
                                <img src="assets/img/logo/logo1.png" height="150px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-generating d-flex mb-30">
                            <!-- <div class="generating-icon">
                                <span class="flaticon-growth"></span>
                            </div> -->
                            <div class="generating-cap">
                                <h4>Best Buy</h4>
                                <img src="assets/img/logo/logo1.png" height="150px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-generating d-flex mb-30">
                            <!-- <div class="generating-icon">
                                <span class="flaticon-growth"></span>
                            </div> -->
                            <div class="generating-cap">
                                <h4>Best Buy</h4>
                                <img src="assets/img/logo/logo1.png" height="150px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
             <div class="we-create-area create-padding">
            <div class="container">
                <div class="row d-flex align-items-end">
                    <div class="col-lg-6 col-md-12">
                        <div class="we-create-img">
                            <img src="assets/img/logo/cwm.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="we-create-cap">
                            <h3>Connect With Market </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis orem ipsum dolor sit amet, consectetur adipiscing.</p>
                            <a href="#" class="btn">Connect now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Generating End -->
        <!--Choose Best start-->
        <div class="choose-best choose-padding">
            <div class="container">
                <!-- Section-tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-tittle text-center">
                            <h2>Choose Your Very Best Pricing Plan </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-choose text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-growth"></span>
                            </div>
                            <div class="do-caption">
                                <h4>$ 05.00</h4>
                                <ul>
                                    <li>Increase traffic 50%</li>
                                    <li>Social Media Marketing</li>
                                    <li>10 Free Optimization</li>
                                    <li>24/7  support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-choose active text-center mb-30">
                            <div class="do-icon">
                                <span class="flaticon-award"></span>
                            </div>
                            <div class="do-caption">
                                <h4>$ 20.00</h4>
                                <ul>
                                    <li>Increase traffic 50%</li>
                                    <li>Social Media Marketing</li>
                                    <li>10 Free Optimization</li>
                                    <li>24/7  support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-choose text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-project"></span>
                            </div>
                            <div class="do-caption">
                                <h4>$ 30.00</h4>
                                <ul>
                                    <li>Increase traffic 50%</li>
                                    <li>Social Media Marketing</li>
                                    <li>10 Free Optimization</li>
                                    <li>24/7  support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Choose Best do End-->
        <!-- Visit Stuffs Start -->
<!--  -->
        <!-- Visit Stuffs Start -->
         <!-- Testimonial Start -->
         <div class="testimonial-area">
            <div class="container">
               <div class="testimonial-main">
                    <!-- Section-tittle -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-5  col-md-8 pr-0">
                            <div class="section-tittle text-center">
                                <h2>What Client Say About Us</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                            <div class="col-lg-10 col-md-9">
                                <div class="h1-testimonial-active">
                                    <!-- Single Testimonial -->
                                    <div class="single-testimonial text-center">
                                        <div class="testimonial-caption ">
                                            <div class="testimonial-top-cap">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                                            </div>
                                            <!-- founder -->
                                            <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                                <div class="founder-img">
                                                    <img src="assets/img/testmonial/testimonial.png" alt="">
                                                </div>
                                            <div class="founder-text">
                                                <span>Oliva jems</span>
                                                <p>UIX designer</p>
                                            </div>
                                            </div>
                                        </div>
                                    </div><!-- Single Testimonial -->
                                    <div class="single-testimonial text-center">
                                        <div class="testimonial-caption ">
                                            <div class="testimonial-top-cap">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                                            </div>
                                            <!-- founder -->
                                            <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                                <div class="founder-img">
                                                    <img src="assets/img/testmonial/testimonial.png" alt="">
                                                </div>
                                            <div class="founder-text">
                                                <span>Oliva jems</span>
                                                <p>UIX designer</p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
               </div>
            </div>
        </div>
        <!-- Testimonial End -->
        <!-- Tips Triks Start -->
 <!--  -->
        <!-- Tips Triks End -->
         <!-- have-project Start-->
   
        <!-- have-project End -->

    </main>
<% include ./partials/footer %>