<% include ./partials/header %>

    <main>
        <!-- Slider Area Start-->
        <div class="services-area">
            <div class="container">

                <!-- Section-tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-tittle text-center mb-80">
<!--                             <span>cards</span> -->
                            <h2>Here are some Popular Gift Cards</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End-->
        <!-- What We do start-->
        <div class="what-we-do">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/walmart.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Walmart</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/walmart"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/bestbuy.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>BestBuy</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div><div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/target.png" height="150px;">
                            </div>
                            <div class="do-caption">
                         <!--        <h4>target</h4> --><br><br>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/target"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div><div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/homedepot.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Homedepot</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/home-depot"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div><div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/amazon.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Amazon</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="#"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div><div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/itunes.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>iTunes</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="#"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- What We do End-->

        <!-- Generating Start -->
        <!-- Generating End -->
        <!-- have-project Start-->
       
        <!-- have-project End -->

    </main>

<% include ./partials/footer %>