<% include ./partials/cards_header %>

<style type="text/css">
   li a{
     color: white;  
  }

</style>
<!-- Slider Area Start-->
<div class="services-area" style="background-color: #0072CE;">
   <div class="container">

     <!-- Section-tittle -->
     <div class="row d-flex justify-content-center">
       <div class="col-lg-8">
         <div class="section-tittle text-center mb-80">
            
           <h2 style="color: white;">Starbucks</h2>
        </div>
     </div>
  </div>
</div>
</div>
<!-- Slider Area End-->

<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding" >
   <div class="container">
      <div class="row">
         <div class="col-lg-8 posts-list">
            <div class="single-post">
               <section class="sample-text-area">
                  <div class="container box_1170">
                     <h3 class="text-heading">Starbucks</h3>
                     <p class="sample-text">
                        Whatever you want to say, say it with a Starbucks Gift Card. They’re easy to send and delightful to receive.
                        <br>
                        Send an eGift or pick one up at a participating Starbucks®️ store.
                        <br>
                        Give a Gift with iMessage
                        <br>
                        Thank, congratulate or just let a friend know they matter by sending an eGift using iMessage.
                        <br>
                        Give a Gift by Email
                        <br>
                        Never miss a moment. A Starbucks eGift Card is the perfect treat for their special day. Send one now.
                        <br><br>
                        <b>Business & Client Gift Cards</b>
                        <br><br>
                        A Starbucks Card is a thoughtful way to show customers and clients that you appreciate them <a>Shop now</a><br><br>
                        <b> <label>Head Quarters:</label></b><span>&nbsp;&nbsp;Bentonville, Arkansas, United States</span>
                        <br>
                        <b> <label>Customer care:</label></b><span>&nbsp;&nbsp;
                        1-800-925-6278</span>
                        <br>
                        <b> <label>Check Balance:</label></b><span>&nbsp;&nbsp;<a href="/" style="color: blue;" data-toggle="modal" data-target="#exampleModal">
                        click here</a></span>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                         <div class="modal-dialog" role="document">
                          <div class="modal-content">
                           <div class="modal-header" style="background-color: #0072CE;">
                            <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Check Balance</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                          </button>
                       </div>
                       <div class="modal-body">
                         <form>
                          <div class="form-group">
                           <label for="recipient-name" class="col-form-label">Card No:</label>
                           <input type="text" class="form-control" id="recipient-name" placeholder="1245-4566-6744-3422">
                        </div>
                        <div class="form-group">
                           <label for="message-text" class="col-form-label">Pin:</label>
                           <input type="text" class="form-control" id="recipient-name" placeholder="PIN">
                        </div>
                        <div class="form-group">
                           <label for="message-text" class="col-form-label">Email:</label>
                           <input type="text" class="form-control" id="recipient-name" placeholder="Optional">
                        </div>
                     </form>
                  </div>
                  
                  <div class="modal-footer">
                    
                   <button type="button" class="btn header-btn">Check Now</button>
                </div>
             </div>
          </div>
       </div>


    </p>
    <br>

    <h3 class="text-heading">Policies</h3>
    <p>
      Exciting updates to Starbucks®️ Rewards »
      skip to Main Navigationskip to Main Contentskip to FooterStarbucks Coffee Company
      Find a Store
      Sign In
      
      Join Now
      Navigation
      Starbucks Card Terms & Conditions
      Effective March 7, 2019
      <br>
      This Starbucks Card Agreement ("Agreement") is between you and Starbucks Corporation ("we" or "us") and describes the terms and conditions that apply to your Starbucks Card. By buying, loading, or using your Starbucks Card, you agree to these terms.

      This Agreement includes an Arbitration provision that governs any disputes between you and us. Unless you opt out, as described below, this provision will:

      Eliminate your right to a trial by jury; and
      Substantially affect your rights, including preventing you from bringing, joining or participating in class or consolidated proceedings.
      You agree that we may provide notices, disclosures and amendments to this Agreement, and other information relating to your Starbucks Card by electronic means, including posting such materials online at <a>https://www.starbucks.com/gift-card/manage/card-terms-and-conditions</a>
      <br>
      About Your Account

      <br>
      <br>
      We issue the Starbucks Card to you. It allows you to load a dollar value onto your Starbucks Card for use at participating Starbucks®️ stores. The dollar value that you load onto your Starbucks Card is a prepayment for the goods and services of participating stores. We offer the Starbucks Card to make it easier for you to shop with us and to make your relationship with us more rewarding. Unless otherwise required by law or permitted by this Agreement, the dollar value on your Starbucks Card is nonrefundable and may not be redeemed for cash. The value on your Starbucks Card is not insured by the Federal Deposit Insurance Corporation (FDIC), nor does it earn interest.
      <br>
      Most Starbucks stores in North America including Puerto Rico accept your Starbucks Card. Certain Starbucks-branded locations may not permit you to use the Starbucks Card for payment, including some airport, grocery and bookstore locations, or stores in Guam To find out if a store will accept the Starbucks Card as a payment method, please inquire at that store or visit <a >http://www.starbucks.com/store-locator.</a> Any store that lists "Digital Rewards" as one of its amenities is a store that accepts the Starbucks Card.
      <br>
      Starbucks Cards are not targeted towards, nor intended for use by, anyone under the age of 13. If you are between the ages of 13 and 18, you may only use Starbucks Cards under the supervision of a parent or legal guardian who agrees to be bound by this Agreement.
      <br>
      When you register your Starbucks Cards with the Starbucks®️ Rewards program, the Starbucks®️ Rewards terms of use which can be found at http://www.starbucks.com/terms will also apply.
      <br>
      Loading Value on Your Card
      In the United States and Canada, you can load value on your Starbucks Card by visiting any participating store, going online to http://www.starbucks.com/card, or by calling 1-800-STARBUC. There may be a delay from the time you pay the amount to be loaded onto your Starbucks Card and those funds being available for use.
      <br>
   You may not have more than $500 in value on any of your Starbucks Cards at any time, and no more than $2,000 may be associated with any one Starbucks Card in a single day. This means that the activity on any one of your Starbucks Cards cannot exceed $2,000 over the course of a day. The total value you may load onto all of your Starbucks Cards, together with the value of any new Starbucks</p>
</div>
</section>
</div>
<div class="navigation-top">
   <div class="d-sm-flex justify-content-between text-center">
      <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Check out Social Media Handles</p>
      <div class="col-sm-4 text-center my-2 my-sm-0">
         <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
      </div>
      <ul class="social-icons">
         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
         <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
         <li><a href="#"><i class="fab fa-behance"></i></a></li>
      </ul>
   </div>
   
</div>


</div>
<div class="col-lg-4">
   <div class="blog_right_sidebar">
    
      <aside class="single_sidebar_widget post_category_widget">
         <h4 class="widget_title">Other Gift Cards</h4>
         <ul class="list cat-list">
           <li>
            <a href="/card/home-depot" class="d-flex">
               <p>Home Depot</p>
               
            </a>
         </li>
         <li>
            <a href="/card/bestbuy" class="d-flex">
               <p>Best Buy</p>
               
            </a>
         </li>
         <li>
            <a href="/card/target" class="d-flex">
               <p>Target</p>
               
            </a>
         </li>
         <li>
            <a href="/card/amazon" class="d-flex">
               <p>Amazon</p>
               
            </a>
         </li>
         
      </ul>
   </aside>
   <aside class="single_sidebar_widget post_category_widget">
      <h4 class="widget_title">Popular Gift Cards</h4>
      <ul class="list cat-list">
         <li>
            <a href="/card/home-depot" class="d-flex">
               <p>Home Depot</p>
               
            </a>
         </li>
         <li>
            <a href="/card/bestbuy" class="d-flex">
               <p>Best Buy</p>
               
            </a>
         </li>
         <li>
            <a href="/card/target" class="d-flex">
               <p>Target</p>
               
            </a>
         </li>
         <li>
            <a href="/card/amazon" class="d-flex">
               <p>Amazon</p>
               
            </a>
         </li>
         
      </ul>
   </aside>
       <!--            <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Recent Post</h3>
                     <div class="media post_item">
                        <img src="assets/img/post/post_1.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>From life was you fish...</h3>
                           </a>
                           <p>January 12, 2019</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_2.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>The Amazing Hubble</h3>
                           </a>
                           <p>02 Hours ago</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_3.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>Astronomy Or Astrology</h3>
                           </a>
                           <p>03 Hours ago</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_4.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>Asteroids telescope</h3>
                           </a>
                           <p>01 Hours ago</p>
                        </div>
                     </div>
                  </aside> -->
               <!--    <aside class="single_sidebar_widget tag_cloud_widget">
                     <h4 class="widget_title">Tag Clouds</h4>
                     <ul class="list">
                        <li>
                           <a href="#">project</a>
                        </li>
                        <li>
                           <a href="#">love</a>
                        </li>
                        <li>
                           <a href="#">technology</a>
                        </li>
                        <li>
                           <a href="#">travel</a>
                        </li>
                        <li>
                           <a href="#">restaurant</a>
                        </li>
                        <li>
                           <a href="#">life style</a>
                        </li>
                        <li>
                           <a href="#">design</a>
                        </li>
                        <li>
                           <a href="#">illustration</a>
                        </li>
                     </ul>
                  </aside> -->
             <!--      <aside class="single_sidebar_widget instagram_feeds">
                     <h4 class="widget_title">Instagram Feeds</h4>
                     <ul class="instagram_row flex-wrap">
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_5.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_6.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_7.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_8.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_9.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_10.png" alt="">
                           </a>
                        </li>
                     </ul>
                  </aside> -->
                  <aside class="single_sidebar_widget newsletter_widget">
                     <h4 class="widget_title">Newsletter</h4>
                     <form action="#">
                        <div class="form-group">
                           <input type="email" class="form-control" onfocus="this.placeholder = ''"
                           onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                        type="submit">Subscribe</button>
                     </form>
                  </aside>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->
   <% include ./partials/cards_footer %>