<% include ./partials/header %>

    <main>
        <!-- Slider Area Start-->
       <div class="services-area">
            <div class="container">

                <!-- Section-tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">

<!--                             <span>cards</span> -->

<img src="../assets/img/bg.png" height="290px;">
                   
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End-->
        <!-- What We do start-->
        <div class="what-we-do">
            <div class="container">
                        <div class="col-lg-12">
        <h3 style="text-align: center;"><a href="#Adiv">A</a> <a href="#Bdiv">B</a>  <a href="#Cdiv">C</a>  <a href="#Ddiv">D</a>  <a href="#Ediv">E</a>  <a href="#Fdiv">F</a>  <a href="#Gdiv">G</a>  <a href="#Hdiv">H</a>  <a href="#Idiv">I</a>  <a href="#Jdiv">J</a>  <a href="#Kdiv">K</a>  <a href="#Ldiv">L</a>  <a href="#Mdiv">M</a>  <a href="#Ndiv">N</a>  <a href="#Odiv">O</a>  <a href="#Pdiv">P</a>  <a href="#Qdiv">Q</a>  <a href="#Rdiv">R</a>  <a href="#Sdiv">S</a>  <a href="#Tdiv">T</a>  <a href="#Udiv">U</a>  <a href="#Vdiv">V</a>  <a href="#Wdiv">W</a>  <a href="#Xdiv">X</a>  <a href="#Ydiv">Y</a>  <a href="#Zdiv">Z</a> </h3>
        </div><br>

                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/amazon.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Amazon</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="#"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
                      <div  id="Bdiv">
                </div>
                           <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/bestbuy.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>BestBuy</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>

    <div  id="Cdiv">
                </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/ck.jpg" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Calvin Klein</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
                    <div  id="Ddiv">
                </div>
                 <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/dd.png" height="120px;">
                            </div>
                            <div class="do-caption">
                                <h4>Dunkin Donuts</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
                    <div  id="Ediv">
                </div>
    
           
               
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/ebay.png" height="130px;">
                            </div>
                            <div class="do-caption">
                                <h4>eBay</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
                       <div  id="Fdiv">
                </div>

            
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/fossil.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Fossil</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
      <div  id="Gdiv">
                </div>
             
     
               
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/gucci.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Gucci</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
       <div  id="Hdiv">
                </div>
  
         
               
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/homedepot.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Homedepot</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/home-depot"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
                      <div  id="Idiv">
                </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/itunes.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>iTunes</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="#"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>

                      <div  id="Jdiv">
                </div>
               
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/jcp.png" height="110px;">
                            </div>
                            <div class="do-caption">
                                <h4>JC Penney</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>

         <div  id="Kdiv">
                </div>

                     <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/kfc.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>KFC</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>

 <div  id="Ldiv">
                </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/lego.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>LEGO Store</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
                   <div  id="Mdiv">
                </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/mcd.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>McDonalds</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
                        <div  id="Ndiv">
                </div>
    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/nc.jpg" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Nordstrom</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/net.jpeg" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Netflix</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>   

       
                <div  id="Odiv">
                </div>
              <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/oak.png" height="100px;">
                            </div>
                            <div class="do-caption">
                                <h4>Oakley</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
                  
                   <div  id="Pdiv">
                </div>
  
          
           <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/piz.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Pizza Hut</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
              
        <div  id="Qdiv">
                </div>
               
                      <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/qui.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Quiznos</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
                   <div  id="Rdiv">
                </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/rl.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Ralph Lauren</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
   <div  id="Sdiv">
                </div>
                       <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/sep.png" height="150px;">
                            </div>
                            <div class="do-caption">
                               <!--  <h4>Sephora</h4> --><br>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>

                       <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/sc.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Sam's Club</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
                   <div  id="Tdiv">
                </div>
                      <div class="col-lg-4 col-md-6">
                          <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/target.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Target</h4><br><br>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/target"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-4 col-md-6">
                          <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/tgif.png" height="100px;"><br>
                            </div>
                            <div class="do-caption">
                                <h4>TGI Fridays</h4><br><br>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/target"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
                  
                 
   <div  id="Udiv">
                </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/ua.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Under Armour</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
    <div  id="Vdiv">
                </div>

   <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/vs.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Victoria's Secret</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
                       <div  id="Wdiv">
                </div>
    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/walmart.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Walmart</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/walmart"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>

  <div  id="Xdiv">
                </div>
 
                  
                     <div  id="Ydiv">
                </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/yc.png" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Yankee Candle</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
                  

<div  id="Zdiv">
                </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                               <img src="assets/img/logo/zap.svg" height="150px;">
                            </div>
                            <div class="do-caption">
                                <h4>Zappos</h4>
                                <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                            </div>
                            <div class="do-btn">
                                <a href="/cards/bestbuy"><i class="ti-arrow-right"></i> Know more</a>
                            </div>
                        </div>
                    </div>
                  

                </div>
               


   
        </div>
        <!-- What We do End-->

        <!-- Generating Start -->
        <!-- Generating End -->
        <!-- have-project Start-->
       
        <!-- have-project End -->

    </main>

<% include ./partials/footer %>