<% include ./partials/cards_header %>

<style type="text/css">
   li a{
     color: white;  
  }

</style>
<!-- Slider Area Start-->
<div class="services-area" style="background-color: #0072CE;">
   <div class="container">

     <!-- Section-tittle -->
     <div class="row d-flex justify-content-center">
       <div class="col-lg-8">
         <div class="section-tittle text-center mb-80">
            
           <h2 style="color: white;">Yankee Candle</h2>
        </div>
     </div>
  </div>
</div>
</div>
<!-- Slider Area End-->

<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding" >
   <div class="container">
      <div class="row">
         <div class="col-lg-8 posts-list">
            <div class="single-post">
               <section class="sample-text-area">
                  <div class="container box_1170">
                     <h3 class="text-heading">Yankee Candle</h3>
                     <p class="sample-text">
                        Whatever you want to say, say it with a Starbucks Gift Card. They’re easy to send and delightful to receive.
                        <br>
                        Send an eGift or pick one up at a participating Starbucks®️ store.
                        <br>
                        Give a Gift with iMessage
                        <br>
                        Thank, congratulate or just let a friend know they matter by sending an eGift using iMessage.
                        <br>
                        Give a Gift by Email
                        <br>
                        Never miss a moment. A Starbucks eGift Card is the perfect treat for their special day. Send one now.
                        <br><br>
                        <b>Business & Client Gift Cards</b>
                        <br><br>
                        A Starbucks Card is a thoughtful way to show customers and clients that you appreciate them <a>Shop now</a><br><br>
                        <b> <label>Head Quarters:</label></b><span>&nbsp;&nbsp;Bentonville, Arkansas, United States</span>
                        <br>
                        <b> <label>Customer care:</label></b><span>&nbsp;&nbsp;
                        1-800-925-6278</span>
                        <br>
                        <b> <label>Check Balance:</label></b><span>&nbsp;&nbsp;<a href="https://www.yankeecandle.com/giftcards" style="color: blue;">
                        click here</a></span>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                         <div class="modal-dialog" role="document">
                          <div class="modal-content">
                          <!--  <div class="modal-header" style="background-color: #0072CE;">
                            <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Check Balance</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                          </button>
                       </div> -->
                     <!--   <div class="modal-body">
                         <form>
                          <div class="form-group">
                           <label for="recipient-name" class="col-form-label">Card No:</label>
                           <input type="text" class="form-control" id="recipient-name" placeholder="1245-4566-6744-3422">
                        </div>
                        <div class="form-group">
                           <label for="message-text" class="col-form-label">Pin:</label>
                           <input type="text" class="form-control" id="recipient-name" placeholder="PIN">
                        </div>
                        <div class="form-group">
                           <label for="message-text" class="col-form-label">Email:</label>
                           <input type="text" class="form-control" id="recipient-name" placeholder="Optional">
                        </div>
                     </form>
                  </div> -->
                 <!--  
                  <div class="modal-footer">
                    
                   <button type="button" class="btn header-btn">Check Now</button>
                </div> -->
             </div>
          </div>
       </div>


    </p>
    <br>


</div>
</section>
</div>
<div class="navigation-top">
   <div class="d-sm-flex justify-content-between text-center">
      <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Check out Social Media Handles</p>
      <div class="col-sm-4 text-center my-2 my-sm-0">
         <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
      </div>
      <ul class="social-icons">
         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
         <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
         <li><a href="#"><i class="fab fa-behance"></i></a></li>
      </ul>
   </div>
   
</div>


</div>
<div class="col-lg-4">
   <div class="blog_right_sidebar">
    
      <aside class="single_sidebar_widget post_category_widget">
         <h4 class="widget_title">Other Gift Cards</h4>
         <ul class="list cat-list">
           <li>
            <a href="/card/home-depot" class="d-flex">
               <p>Home Depot</p>
               
            </a>
         </li>
         <li>
            <a href="/card/bestbuy" class="d-flex">
               <p>Best Buy</p>
               
            </a>
         </li>
         <li>
            <a href="/card/target" class="d-flex">
               <p>Target</p>
               
            </a>
         </li>
         <li>
            <a href="/card/amazon" class="d-flex">
               <p>Amazon</p>
               
            </a>
         </li>
         
      </ul>
   </aside>
   <aside class="single_sidebar_widget post_category_widget">
      <h4 class="widget_title">Popular Gift Cards</h4>
      <ul class="list cat-list">
         <li>
            <a href="/card/home-depot" class="d-flex">
               <p>Home Depot</p>
               
            </a>
         </li>
         <li>
            <a href="/card/bestbuy" class="d-flex">
               <p>Best Buy</p>
               
            </a>
         </li>
         <li>
            <a href="/card/target" class="d-flex">
               <p>Target</p>
               
            </a>
         </li>
         <li>
            <a href="/card/amazon" class="d-flex">
               <p>Amazon</p>
               
            </a>
         </li>
         
      </ul>
   </aside>
       <!--            <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Recent Post</h3>
                     <div class="media post_item">
                        <img src="assets/img/post/post_1.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>From life was you fish...</h3>
                           </a>
                           <p>January 12, 2019</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_2.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>The Amazing Hubble</h3>
                           </a>
                           <p>02 Hours ago</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_3.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>Astronomy Or Astrology</h3>
                           </a>
                           <p>03 Hours ago</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="assets/img/post/post_4.png" alt="post">
                        <div class="media-body">
                           <a href="single-blog.html">
                              <h3>Asteroids telescope</h3>
                           </a>
                           <p>01 Hours ago</p>
                        </div>
                     </div>
                  </aside> -->
               <!--    <aside class="single_sidebar_widget tag_cloud_widget">
                     <h4 class="widget_title">Tag Clouds</h4>
                     <ul class="list">
                        <li>
                           <a href="#">project</a>
                        </li>
                        <li>
                           <a href="#">love</a>
                        </li>
                        <li>
                           <a href="#">technology</a>
                        </li>
                        <li>
                           <a href="#">travel</a>
                        </li>
                        <li>
                           <a href="#">restaurant</a>
                        </li>
                        <li>
                           <a href="#">life style</a>
                        </li>
                        <li>
                           <a href="#">design</a>
                        </li>
                        <li>
                           <a href="#">illustration</a>
                        </li>
                     </ul>
                  </aside> -->
             <!--      <aside class="single_sidebar_widget instagram_feeds">
                     <h4 class="widget_title">Instagram Feeds</h4>
                     <ul class="instagram_row flex-wrap">
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_5.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_6.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_7.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_8.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_9.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img class="img-fluid" src="assets/img/post/post_10.png" alt="">
                           </a>
                        </li>
                     </ul>
                  </aside> -->
                  <aside class="single_sidebar_widget newsletter_widget">
                     <h4 class="widget_title">Newsletter</h4>
                     <form action="#">
                        <div class="form-group">
                           <input type="email" class="form-control" onfocus="this.placeholder = ''"
                           onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                        type="submit">Subscribe</button>
                     </form>
                  </aside>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->
   <% include ./partials/cards_footer %>